<template>
  <q-layout view="hHh LpR fFf" class="my-font shadow-2 rounded-borders">

    <q-header reveal elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="../assets/Pictures/logo.png">
          </q-avatar>
          DonateItAPP
        </q-toolbar-title>

        <q-tabs v-if="$q.platform.is.desktop" dir="rtl" align="right" inline-label>
          <q-route-tab label="עמוד הבית" icon="home" to="/" />
          <q-route-tab label="מוצרים" to="/ProductsPage" />
          <q-route-tab label="העמותות" to="/associations" />
          <q-route-tab name="search" icon="search" to="/SearchProducts" />
          <q-route-tab label="אודות" name="about" to="/about" />

          <!--          <q-route-tab label="about" to="/about" />-->
<!--          <q-route-tab label="חפש עמותות" to="/AssociationsSearch" />-->
<!--          <q-route-tab label="about" to="/about" />-->

        </q-tabs>
        <q-btn dense flat round icon="menu" @click="right = !right" />
      </q-toolbar>
      <q-tabs v-if="$q.platform.is.mobile" dir="rtl" align="right" inline-label>
        <q-route-tab label="עמוד הבית" icon="home" to="/" />
        <q-route-tab label="מוצרים" to="/ProductsPage" />
        <q-route-tab label="העמותות" to="/associations" />
        <q-route-tab name="search" icon="search" to="/SearchProducts" />
        <q-route-tab label="אודות" name="about" to="/about" />
        <!--        <q-route-tab label="מוצרים" to="/SearchProducts" />-->
<!--        <q-route-tab label="העמותות" to="/AssociationsSearch" />-->
<!--        <q-route-tab label="about" to="/about" />-->
      </q-tabs>
<!--      <div class="q-px-lg q-pt-xl q-mb-md">-->
      <q-img src="../assets/Pictures/gradient2.jpg" class="header-image absolute-top"> </q-img>
<!--      </div>-->
    </q-header>

    <q-drawer
      v-model="right" side="right"
      show-if-above
      :width="200"
      :breakpoint="400"
      bordered
    >

      <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">

        <q-list padding>
          <q-item clickable v-ripple v-if="!user && !Association" to="/loginUser">
            <q-item-section avatar>
              <q-icon name="login" />
            </q-item-section>

            <q-item-section dir="rtl">
              התחברות
            </q-item-section>
          </q-item>



          <q-item clickable v-ripple v-if="!user && !Association" to="/register">
            <q-item-section avatar>
              <q-icon name="create" />
            </q-item-section>

            <q-item-section dir="rtl">
              הרשמה
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple v-if="user" to="/user">
            <q-item-section avatar>
            </q-item-section>

            <q-item-section dir="rtl" >
              פרטים אישיים
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple v-if="user" to="/myProduct">
            <q-item-section avatar>
            </q-item-section>

            <q-item-section dir="rtl" >
              המוצרים שלי
            </q-item-section>
          </q-item>


          <q-item clickable v-ripple v-if="user" to="/changePassword">
            <q-item-section avatar>
            </q-item-section>

            <q-item-section dir="rtl" >
              שינוי סיסמה
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple v-if="user" to="/uploadProduct">
            <q-item-section avatar>
              <q-icon name="upload" />
            </q-item-section>

            <q-item-section dir="rtl" >
              העלאת מוצר
            </q-item-section>
          </q-item>



          <q-item clickable v-ripple to="/AssociationDetails" v-if="Association">
            <q-item-section avatar>
              <q-icon name="manage_accounts" />
            </q-item-section>
            <q-item-section dir="rtl">
              פרטים אישיים
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple to="/addEvent" v-if="Association">
            <q-item-section avatar>
              <q-icon name="manage_accounts" />
            </q-item-section>
            <q-item-section dir="rtl">
              הוספת אירוע
            </q-item-section>
          </q-item>

          <q-separator />

          <q-item clickable v-ripple v-if="user || Association" @click="firebaseLogOut">
            <q-item-section avatar>
              <q-icon name="logout" />
            </q-item-section>

            <q-item-section dir="rtl">
              התנתק
            </q-item-section>
          </q-item>
          <q-separator/>

          <q-item clickable v-ripple v-if="!user && !Association" to="/loginAssociation">
            <q-item-section avatar>
              <q-icon name="login" />
            </q-item-section>

            <q-item-section dir="rtl">
              התחברות כעמותה
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple v-if="!user && !Association" to="/assRequestForm">
            <q-item-section avatar>
              <q-icon name="group_add" />
            </q-item-section>

            <q-item-section dir="rtl">
              בקשה להצטרפות - עמותה
            </q-item-section>
          </q-item>
          <q-separator v-if="admin"/>

          <q-item clickable v-ripple v-if="admin" to="/admin">
            <q-item-section avatar>
              <q-icon name="manage_accounts" />
            </q-item-section>
            <q-item-section dir="rtl">
              Admin Dashboard
            </q-item-section>
          </q-item>
          <q-separator v-if="admin"/>



          <q-separator />

          <q-item clickable v-ripple to="/contact">
            <q-item-section avatar>
              <q-icon name="email" />
            </q-item-section>

            <q-item-section dir="rtl">
              דברו איתנו
            </q-item-section>
          </q-item>


        </q-list>
      </q-scroll-area>

      <q-img class="absolute-top" src="https://cdn.quasar.dev/img/material.png" style="height: 150px">
        <div class="absolute-bottom bg-transparent">
          <q-avatar size="56px" class="q-mb-sm">
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar>
          <div class="text-weight-bold">Razvan Stoenescu</div>
          <div>@rstoenescu</div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <q-page padding>
        <router-view />
      </q-page>
    </q-page-container>

    <q-footer elevated class="bg-grey-7 text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="../assets/Pictures/logo.png">
          </q-avatar>
          Donate It APP
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { firebaseAuth } from 'boot/firebase'
import { LocalStorage } from 'quasar'
export default {
  data () {
    return {
      right: false
    }
  },
  computed: {
    ...mapGetters('user', ['email']),
    ...mapGetters('user', ['user']),
    ...mapGetters('user', ['admin']),
    ...mapGetters('user', ['Association'])
  },
  methods: {
    ...mapActions('user', ['logoutUser']),
    async firebaseLogOut () {
      if (this.$store.getters['user/email'] === null) {
        firebaseAuth.signOut()
          .then(() => {
            LocalStorage.set('loggedIn', false)
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        if (await window.cordova){
          window.cookies.clear(() => {
            // Do nothing
          })
        }
        await this.logoutUser()
      }
      this.$router.push({ path: '/' }).catch(() => {
        this.$router.go()
      })
    }
  }
}
</script>

<style lang="scss">
.header-image{
  height:100%;
  z-index: -1;
  opacity: 0.2;
}
@font-face {
  font-family: 'AmaticSC';
  src: url('../assets/fonts/Assistant-Regular.ttf') format('truetype');
}
.my-font {
  font-family: 'AmaticSC';
}
</style>
