<template>
  <div class="fit ">
    <register admin-reg="true" reg-title="Add new Admin"/>
<!--    <div class="fit row justify-center">-->
<!--      <q-input-->
<!--        class="q-px-md"-->
<!--        rounded-->
<!--        outlined-->
<!--        v-model="email"-->
<!--        label="Email">-->
<!--        <template v-slot:append>-->
<!--          <q-icon name="close" @click="text = ''" class="cursor-pointer"/>-->
<!--        </template>-->
<!--      </q-input>-->
<!--      <q-btn-->
<!--        outline-->
<!--        @click="registerAdmin"-->
<!--        size="md"-->
<!--        rounded-->
<!--        label="Add new Admin"/>-->
<!--    </div>-->
    <q-btn
      outline
      @click="$emit('back-admin')"
      size="md"
      class="q-mt-lg"
      rounded
      label="Back"/>
  </div>
</template>

<script>
import Register from '../components/RegisterComponent'
export default {
  name: 'AddNewAdmin',
  components: { Register },
  data () {
    return {
      email: ''
    }
  },
  methods: {
    async registerAdmin () {
      return 'Shtut'
    }
  }
}
</script>

<style scoped>

</style>
