<template>
  <q-dialog v-model="show" persistent>
    <q-card dark>
      <q-card-section class="col items-center">
        <q-avatar :icon="iconName" :color="iconColor" size="md" text-color="white"/>
        <span class="q-ml-sm">{{question}}</span>
        <q-list padding>
          <q-item-section class="q-ml-sm" v-for="(obj, index) in objectArray" :key="index">
            <q-item-label>{{obj}}</q-item-label>
            <q-separator spaced inset/>
          </q-item-section>
        </q-list>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn :label="cancelLabel" color="secondary" v-close-popup @click="$emit('cancel')"/>
        <q-btn :label="confirmLabel" color="negative" v-close-popup @click="$emit('confirm')"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
  export default {
    name: "ConfirmDialog",
    props: {
      show: Boolean,
      question: String,
      objectArray: Array,
      confirmLabel: String,
      iconName: String,
      cancelLabel: String,
      iconColor: String
    },
    computed: {
      confirm() {
        return this.show
      }
    }
  }
</script>

<style scoped>

</style>
