<template>
  <div>
    <h2>Delete User</h2>
    <h5>Select User to delete</h5>
    <!--    <p v-for="(user, index) in allUsersArr" :key="index">{{user.email}}</p>-->
    <!--    <p v-for="(admin, index) in allAdmins" :key="index">{{admin.email}}</p>-->
    <div class="fit row justify-center">
      <q-select
        filled
        class="q-mx-md"
        v-model="selectedUsers"
        multiple
        :options="allUsersArr"
        style="width: 250px"
      />
      <q-btn rounded outline @click="openDialog = true">Delete Users</q-btn>
    </div>
    <confirm-dialog
      iconName="delete"
      :show="openDialog"
      iconColor="negative"
      question="Are you sure you wish to delete:"
      :objectArray="selectedUsers"
      confirmLabel="Confirm"
      cancelLabel="Cancel"
      @cancel="openDialog = false"
      @confirm="deleteUsers"
    />
    <q-btn
      outline
      @click="$emit('back-admin')"
      size="md"
      class="q-mt-lg"
      rounded
      label="Back"/>
  </div>
</template>

<script>
  import axios from 'axios'
  import {shared_data as store} from '../localStore'

  export default {
    name: "DeleteUser",
    components: {
      ConfirmDialog: () => import('../components/ConfirmDialog')
    },
    data() {
      return {
        allUsersArr: [],
        selectedUsers: [],
        openDialog: false
      }
    },
    // computed: {
    //   userOptions() {
    //     let options = []
    //     this.allUsersArr.forEach((user) => {
    //       if (!this.allAdmins.includes(user)){
    //         options.push(user)
    //       }
    //     })
    //     return options
    //   }
    // },
    mounted() {
      this.allUsers()
    },
    methods: {
      allUsers() {
        axios.get(store.baseUrl + '/admin/').then((response) => {
          console.log(response.data)
          let data = response.data
          this.allUsersArr = data['Users'].map(user => user.email)
          this.allAdmins = data['Admins'].map(user => user.email)
        })
          .catch((err) => {
            console.log(err)
          })
      },
      async deleteUsers() {
        this.openDialog = false
        await this.selectedUsers.forEach((user) => {
          axios.delete(store.baseUrl + '/users/delete/' + user)
            .then(resp => {
              console.log(resp)
            })
            .catch(err => {
              console.log(err)
            })
        })

        this.$router.go(0)

      }
    }
  }
</script>

<style scoped>

</style>
