<template>
  <div class="q-pa-md q-gutter-sm font-img">
    <q-img
      :src="product.image"
      style="width: 200px"
      :ratio="1"
      basic
      spinner-color="white"
      class="rounded-borders grab"
      @click="card = true"
    >
      <div class="absolute-bottom text-center text-italic text-body2">
        {{ product.product_name }}
      </div>
    </q-img>
    <q-dialog v-model="card">
      <q-card class="my-card">
        <q-img :src="product.image"/>
        <q-card-section>
          <q-btn
            fab
            color="primary"
            icon="place"
            class="absolute"
            style="top: 0; right: 12px; transform: translateY(-50%);"
            @click="popup()"
          />

          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">
              {{ product.product_name }}
            </div>
            <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
              <q-icon name="place"/>
              {{product.city}}
            </div>
          </div>

          <q-rating v-model="stars" :max="5" size="32px"/>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="text-subtitle1">
            {{product.main_category}}
          </div>
          <div class="text-caption text-grey">
            {{product.description}}
          </div>
          <q-btn @click="changeShow" outline round color="primary" icon="phone" />
          <div v-if="show" class="text-caption">
            {{product.phone_number}}
          </div>
        </q-card-section>

        <q-separator/>

        <q-card-actions align="right">
          <q-btn v-show="hasCookie" v-close-popup flat color="primary" label="רכישה" :to="paymentUrl"/>
          <q-btn v-close-popup flat color="primary" label="תצוגה מלאה" :to="productUrl" />
<!--          <q-btn v-close-popup flat color="primary" round icon="event"/>-->
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { Cookies } from 'quasar'
// import axios from 'axios'
export default {
  name: 'DialogProduct',
  props: {
    product: Object
  },
  data () {
    return {
      justMounted: true,
      card: false,
      productName: 'Playstation',
      productCategory: 'Game',
      productDetails: 'The PlayStation 5 (PS5) is a home video game console developed by Sony ' +
        'Interactive Entertainment. Announced in 2019 as the successor to the PlayStation 4, ' +
        'the PS5 was released on November 12, 2020 in Australia, Japan, New Zealand, North America, ' +
        'and South Korea, and November 19, 2020 onwards in other major markets except China. ' +
        'The console is scheduled to be launched in India on February 2, 2021.[1]',
      url: 'https://cdn.pocket-lint.com/r/s/970x/assets/images/154419-games-review-hands-on-playstation-5-hands-on-pics-image1-tbq3hzlrkw-jpg.webp',
      place: this.product.city,
      stars: 3,
      show: false
    }
  },
  created () {
    // console.log('created')
  },
  computed: {
    productUrl () {
      return '/product/' + this.product.id
    },
    paymentUrl () {
      return '/payment/' + this.product.id
    },
    hasCookie () {
      return Cookies.has('diaCookie')
    }
  },
  methods: {
    popup () {
      const route = ({ path: 'https://www.google.com/maps/place/' + this.place })
      // let route = this.$router.resolve('/link/to/page'); // This also works.
      window.open(route.path, '_blank')
    },
    changeShow () {
      this.show = true
    }
  }
}

</script>

<style>
.grab {cursor: grab;
  }

/* Solve problem where border size changes on hover */

.grab:hover {
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color:  #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.font-img{
  font-family: Calibri;
}
.q-card {
  width: 360px;
}

</style>
