<template>
  <div class="q-pa-md q-gutter-sm font-img">
    <q-img
      :src="associations.image"
      style="width: 200px"
      :ratio="1"
      basic
      spinner-color="white"
      class="rounded-borders grab"
      @click="card = true"
    >
      <div class="absolute-bottom text-center text-italic text-body2">
        {{ associations.name }}
      </div>
    </q-img>
    <q-dialog v-model="card">
      <q-card class="my-card">
        <q-img :src="associations.image"/>
        <q-card-section>
          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">
              {{ associations.name }}
            </div>

          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="text-subtitle1">
            {{associations.activity}}
          </div>
          <div class="text-caption text-grey">
            {{associations.description}}
          </div>
        </q-card-section>

        <q-separator/>

        <q-card-actions align="right">
          <q-btn v-close-popup flat color="primary" label="תרמו עכשיו"/>
          <q-btn v-close-popup flat color="primary" label="תצוגה מלאה" :to="associationUrl"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'DialogAssociations',
  props: {
    associations: Object
  },
  data () {
    return {
      justMounted: true,
      card: false
    }
  },
  created () {
    console.log('DialogAssociations created')
  },
  computed: {
    associationUrl () {
      return '/AssociationPage/' + this.associations.username
    }
  }
}

</script>

<style scoped>
.grab {cursor: grab;
}

/* Solve problem where border size changes on hover */

.grab:hover {
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color:  #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.font-img{
  font-family: Calibri;
}

</style>
