<template>
  <div v-show="askDone">
        <div dir="rtl" class="q-pa-md row items-start" v-for="(group, i) in AssociationsGroups" :key="group">
          <div class="col-10 col-md-6" v-for="(a, index) in Associations.slice(i * AssociationsPerRow, (i+1) * AssociationsPerRow)"
               :key="index">
              <DialogAssociations :associations="a"/>
          </div>
        </div>
<!--    <q-carousel-->
<!--      animated-->
<!--      v-model="slide"-->
<!--      navigation-->
<!--      infinite-->
<!--      :autoplay="autoplay"-->
<!--      arrows-->
<!--      transition-prev="slide-right"-->
<!--      transition-next="slide-left"-->
<!--      @mouseenter="autoplay = false"-->
<!--      @mouseleave="autoplay = true"-->
<!--    >-->
<!--      <q-carousel-slide :name="index" class="q-pa-none" v-for="(a, index) in Associations" :key="index">-->
<!--          <DialogAssociations :associations="a"/>-->
<!--      </q-carousel-slide>-->
<!--    </q-carousel>-->

  </div>
</template>

<script>
  import axios from "axios";
  import DialogAssociations from "@/components/DialogAssociations";
  async function getAssociationsData (url) {
    let Assoc
    const AssociationArray = []
    console.log("getAssociationsData");
    await axios
      .get(url)
      .then(response => {
        console.log(response)
        Assoc = response.data.Association;
        return Assoc;
      }).catch(response=> console.log("no Association"))
      .then((jsonData) => {
        AssociationArray.push(jsonData)
      })
    return {
      Assoc: AssociationArray[0]
    }
  }
  export default {
    name: "DialogAssociationsList",
    components: {DialogAssociations},
    props:{
      requestURL: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        Associations: [],
        askDone: false,
        AssociationsPerRow: 4,
        slide: 1,
        autoplay: true
      }
    },
    methods:{
      async updateAssociations(){
        console.log(this.requestURL);
        this.askDone = false;
        const {Assoc} = await getAssociationsData(this.requestURL);
        this.askDone = true;
        this.Associations = Assoc;
      },
    },
    mounted() {
      console.log("mounted");
      this.updateAssociations();
    },
    watch : {
      requestURL: function () {
        this.updateAssociations();
      }
    },
    computed: {
      AssociationsGroups() {
        console.log(this.Associations)
        console.log("AssociationsGroups")
        return Array.from(Array(Math.ceil(this.Associations.length / this.AssociationsPerRow)).keys())
      }
    }
  }
</script>

<style scoped>

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
