<template>
  <q-card style="max-width: 250px">
    <q-item>
      <q-item-section avatar dir="ltr">
        <q-avatar>
          <img :src="url">
        </q-avatar>
      </q-item-section>
      <q-item-section class="text-h6">{{ acsName }}</q-item-section>
    </q-item>
    <q-card-section>
      <div class="text-subtitle2">{{ descriptionAcs }}</div>
    </q-card-section>
    <q-separator inset/>
    <q-card-section>
      {{ eventDescription }}
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'Event',
  data () {
    return {
      url: 'https://sites.google.com/site/alisamayreali/_/rsrc/1418555717132/home/wdwt/%D7%9C%D7%95%D7%92%D7%95-%D7%90%D7%95%D7%A8-%D7%9C%D7%9E%D7%A9%D7%A4%D7%97%D7%95%D7%AA.jpg',
      acsName: 'אור למשפחות',
      descriptionAcs: 'עמותה התומכת במשפחות שכולות',
      eventDescription: 'אירוע התרמה איפה שהוא..'
    }
  }
}
</script>

<style scoped>

</style>
