<template>
  <div dir="rtl" class="q-ma-md">
    <h4>אירועים קרובים</h4>
    <q-scroll-area
      :thumb-style="thumbStyle"
      :bar-style="barStyle"
      style="height: 250px; max-width: 350px;"
    >
      <div v-for="n in 5" :key="n" class="q-pa-xs calibri-font">
       <Event/>
      </div>
    </q-scroll-area>
  </div>
</template>

<script>
import Event from '../components/Event'
export default {
  name: 'Events',
  components: { Event },
  data () {
    return {
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      },

      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2
      }
    }
  }
}
</script>

<style scoped>

.calibri-font{
  font-family: Calibri;

}

</style>
