<template>
  <div>
    <q-page-container>
      <div class="q-pa-md row items-center" align="center" v-for="(group, i) in productsGroups" :key="group">
        <div class="col-10 col-md" v-for="(p, index) in products.slice(i * productsPerRow, (i+1) * productsPerRow)"
             :key="index">
          <ProductPreview/>
        </div>
      </div>
    </q-page-container>
  </div>
</template>

<!--<template>-->
<!--  <div class="q-pa-md">-->
<!--    <q-carousel-->
<!--      animated-->
<!--      v-model="slide"-->
<!--      navigation-->
<!--      infinite-->
<!--      :autoplay="autoplay"-->
<!--      arrows-->
<!--      transition-prev="slide-right"-->
<!--      transition-next="slide-left"-->
<!--      @mouseenter="autoplay = false"-->
<!--      @mouseleave="autoplay = true"-->
<!--    >-->
<!--      <q-carousel-slide v-for="(p, index) in products" :key="index">-->
<!--        <q-scroll-area class="fit">-->
<!--          <ProductPreview/>-->
<!--        </q-scroll-area>-->
<!--      </q-carousel-slide>-->
<!--      &lt;!&ndash;      <q-carousel-slide :name="2" img-src="https://cdn.quasar.dev/img/parallax1.jpg" />&ndash;&gt;-->
<!--      &lt;!&ndash;      <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg" />&ndash;&gt;-->
<!--      &lt;!&ndash;      <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg" />&ndash;&gt;-->
<!--    </q-carousel>-->
<!--  </div>-->
<!--</template>-->

<script>

import ProductPreview from '../components/ProductPreview'

export default {
  components: { ProductPreview },
  name: 'ListProducts',
  data () {
    return {
      products: ['test', 'test', 'test'],
      productsPerRow: 3,
      slide: 1,
      autoplay: true
    }
  },
  computed: {
    productsGroups () {
      return Array.from(Array(Math.ceil(this.products.length / this.productsPerRow)).keys())
    }
  }
}
</script>

<style lang="sass" scoped>

</style>
