<template>
  <q-page class="bg-white window-height window-width row justify-center items-center">
    <div class="column">
      <div class="row">
        <h3 class="text-h5 text-light-blue-10 q-my-md">{{loginas}}</h3>
      </div>
      <div class="row font-all" >
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form @submit.prevent="onLogin" class="q-gutter-md">
              <q-input square filled clearable id="email"
                       v-model="$v.form.email.$model"
                       type="text"
                       :state="validateState('email')"
                       label="Email"
                       :rules="[requiredRule]"/>
              <q-input square filled clearable id="Password"
                       type="password"
                       v-model="$v.form.password.$model"
                       :state="validateState('password')"
                       label="password"
                       :rules="[requiredRule]"/>
              <q-card-actions class="q-px-md">
                <q-btn nelevated color="light-blue-10" size="lg" type="submit" class="full-width my-font" label="Login" @click="showDefault"/>
              </q-card-actions>
            </q-form>
          </q-card-section>
          <p> or Sign in with Google <br>
            <button class="social-button" @click="loginWithProvider">
              <img alt="Google Logo" src="src/assets/google-logo.png" />
            </button>
          </p>
          <q-card-section class="text-center q-pa-none">
            <p class="text-grey-6">Not registered? <router-link to="register"> Created an Account </router-link></p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>

import {required} from "vuelidate/lib/validators";
import { LocalStorage, Loading } from 'quasar'
import { firebaseAuth, googleProvider } from '../firebase'
import { showErrorMessage } from './show-error-message'

export default {
  name: 'Login',
  data () {
    return {
      form: {
        email: "",
        password: "",
        submitError: undefined
      }
    };
  },
  props: {
    url: {
      type: String,
      required: true
    },
    loginas: {
      type: String,
      required: true
    }
  },
  validations: {
    form: {
      email: {
        required
      },
      password: {
        required
      }
    }
  },
  methods: {
    validateState(param) {
      const { $dirty, $error } = this.$v.form[param];
      return $dirty ? !$error : null;
    },
    async Login() {
      try {
        console.log("Inside Login")
        const response = await this.axios.post(
          this.url,
          {
            email: this.form.email,
            password: this.form.password

          }
        );
        console.log(response);
        console.log(this.$root)
        this.$root.storeShare.login(
          this.form.email,
        );
        this.$router.push({name: "Home"}).catch(() => {
          this.$router.go();
        });
      } catch (err) {
        console.log("Login Failed")
        console.log(err.response);
        await this.triggerNegative()
        this.form.submitError = err.response.data.message;
      }
    },
    loginWithProvider(){
      Loading.show()

        firebaseAuth.signInWithRedirect(googleProvider).then(result => {
        console.log('response: ', result)
      }).catch(error => {
        showErrorMessage(error.message)
      })
    },
    onLogin() {
      // console.log("login method called");
      this.form.submitError = undefined;
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.Login();
    },
    showDefault () {
      this.$q.notify({
        spinner: true,
        message: 'Please wait...',
        timeout: 300
      })
    },
    requiredRule (val) {
      // simulating a delay
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(!!val || '* Required')
        }, 1000)
      })
    },
    triggerNegative () {
      // simulating a delay
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(this.$q.notify({
            type: 'negative',
            message: `username or password incorrect.`
          }))
        }, 1100)
      })
    },
  }
}
</script>

<style scoped>
.q-card {
  width: 360px;
}

.social-button {
  width: 75px;
  background: white;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  outline: 0;
  border: 0;
}
.social-button:active {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.social-button img{
  width: 100%
}

.font-all{
  font-family: Calibri;
}
</style>

