<template>
  <div>
    <q-form @submit.prevent="onUpload">
      <q-input outlined v-model="productName"
               class="dia-p-name"
               :rules="[ val => val && val.length > 0 || 'Required']"
               label="שם המוצר" stack-label/>

      <q-select outlined v-model="settlement" use-input
                input-debounce="0" @filter="filterFn"
                behavior="menu"
                class="dia-p-city"
                :options="options"
                label="עיר" stack-label
                :rules="[myRule]">
        <template v-slot:prepend>
          <q-icon name="place"/>
        </template>
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              No results
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      <q-input dir="ltr" outlined v-model="price" type="number"
               lazy-rules
               class="dia-p-price"
               :rules="[ val => val && val.length > 0 || 'Required']"
               label="מחיר" stack-label prefix="₪">
        <template v-slot:append>
        </template>
      </q-input>
      <q-input
        outlined
        autogrow
        v-model="description"
        class="dia-p-description"
        label="תאור המוצר" stack-label
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Required']"
      />
      <q-input v-model="phoneNumber" outlined mask="(###) ### - ####"
               class="dia-p-phone"
               :rules="[ val => val && val.length > 0 || 'Required']" type="tel" label="טלפון" stack-label />
      <q-input outlined lazy-rules
               :rules="[ val => val && val.length > 0 || 'Required']"
               class="dia-p-img"
               v-model="imageUrl" label="לתמונה URL קישור" stack-label/>
      <q-select outlined v-model="mainCategory" use-input
                input-debounce="0" @filter="filterCat"
                behavior="menu"
                class="dia-p-main"
                label="קטגוריה ראשית" stack-label
                :options="mainCategoryOptions"
                :rules="[myRule]">
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              No results
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      <q-select
        v-if="mainCategory==null"
        outlined
        disable
        v-model="subCategory"
        multiple
        :options="subCategoryOptions"
        label="קטגוריות משניות" stack-label/>
      <q-select v-else
                outlined
                v-model="subCategory"
                multiple
                :options="subCategoryOptions"
                class="dia-p-sub"
                label="קטגוריות משניות" stack-label
                :rules="[myRule]"
      />
      <p></p>
      <q-card-actions class="q-px-md">
        <q-btn nelevated color="light-blue-10" size="lg" type="submit" class="full-width my-font" label="העלאת מוצר"/>
      </q-card-actions>

      <!--    <q-input-->
      <!--      @input="val => { files = val }"-->
      <!--      multiple-->
      <!--      filled-->
      <!--      type="file"-->
      <!--      hint="תמונות"-->
      <!--    />-->
    </q-form>

  </div>

</template>

<script>
import settlements from '../assets/files/settlements'
import mainCategory from '../assets/files/mainCategory'
import subCategories from '../assets/files/subCategories'
import axios from 'axios'

export default {
  name: 'ProductUploadForm',
  data () {
    return {
      productName: '',
      description: '',
      mainCategory: null,
      subCategory: null,
      price: '',
      settlement: null,
      settlements: [],
      email: '',
      // files: null,
      // file: null,
      imageUrl: '',
      phoneNumber: '',
      options: this.settlements,
      model: null,
      mainCategoryOptions: this.mainCategory,
      mainCategoryList: [],
      subCategoryOptions: [],
      subCategoryAllOptions: []
    }
  },
  mounted () {
    this.settlements = []
    this.mainCategoryList = []
    this.subCategoryAllOptions = []
    this.settlements.push(...settlements)
    this.mainCategoryList.push(...mainCategory)
    this.subCategoryAllOptions.push(...subCategories)
  },
  watch: {
    mainCategory: function (val) {
      try {
        this.subCategory = null
        this.subCategoryOptions = this.subCategoryAllOptions[0][this.mainCategory]
      } catch (err) {
        console.log(err)
      }
    }
  },
  methods: {
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.settlements
        })
        return
      }
      update(() => {
        const needle = val
        this.options = settlements.filter(v => v.indexOf(needle) > -1)
      })
    },
    filterCat (val, update) {
      if (val === '') {
        update(() => {
          this.mainCategoryOptions = this.mainCategoryList
        })
        return
      }
      update(() => {
        const needle = val
        this.mainCategoryOptions = this.mainCategoryList.filter(v => v.indexOf(needle) > -1)
      })
    },
    myRule (val) {
      if (val === null) {
        return 'You must make a selection!'
      }
    },
    async onUpload () {
      try {
        this.email = this.$store.getters['user/email']
        // console.log(this.recipes);
        // eslint-disable-next-line camelcase
        const product_data = {
          product_name: this.productName,
          description: this.description,
          price: this.price,
          main_category: this.mainCategory,
          city: this.settlement,
          seller_email: this.email,
          phone_number: this.phoneNumber,
          sub_category: this.subCategory,
          image: [this.imageUrl]
        }
        console.log(product_data)
        const response = await axios.post(
          this.$store.getters['ip/ip'] + '/product/add_product',
          product_data
        )
        this.$router.push({ path: '/' }).catch(() => {
          this.$router.go()
        })
        console.log('response:')
        console.log(response)
      } catch (err) {
        console.log(err)
        console.log(err.response)
      }
    }
  }
}
</script>

<style scoped>
.container-form {
  background: white;
  width: 30%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

.font-form-product {
  font-family: Calibri;
}

</style>
