<template>
  <div dir="rtl" class="contents-less">
<!--    <p>product id : {{product.id}}</p>-->
    <div>תיאור המוצר: {{product.description}}</div>
    <div>מחיר : {{product.price}}</div>
    <div>קטגוריה ראשית :{{product.main_category}}</div>
    <div class="col-10 col-md" v-for="(p, index) in product.sub_category"
         :key="index">{{p}}</div>
    <div>המוצר התפרסם ב :{{product.publish_at}}</div>
    <div dir="auto" class="col-10 col-md" v-for="(p, index) in product.image"
         :key="index">
      <img :src="p">
    </div>
  </div>
</template>

<script>
import axios from 'axios'
async function getProductData (url) {
  let pro
  const proArray = []
  console.log('getProductData')
  await axios
    .get(url)
    .then(response => {
      pro = response.data.Products
      return pro
    }).catch(response => console.log('no products'))
    .then((jsonData) => {
      proArray.push(jsonData)
    })
  return {
    pro: proArray[0]
  }
}
export default {
  name: 'Product',
  props: {
    url: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      product: [],
      askDone: false
    }
  },
  methods: {
    async updateProduct () {
      console.log(this.url)
      this.askDone = false
      const { pro } = await getProductData(this.url)
      console.log(pro)
      this.askDone = true
      this.product = pro
      console.log('return from getProductData')
      console.log(this.product)
    }
  },
  mounted () {
    console.log('mounted')
    this.updateProduct()
  },
  watch: {
    url: function () {
      this.updateProduct()
    }
  }
}
</script>

<style scoped>
.contents-less {
  background: white;
  width: 85%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 0px;
}
</style>
