<template>
  <q-card class="my-card">
    <q-img :src="imageSrc"/>
    <q-card-section>
      <div class="text-h6">{{productName}}</div>
      <div class="text-subtitle2">{{productCategory}}</div>
    </q-card-section>
    <q-card-section class="q-pt-none">
      {{ productDetails }}
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'product_preview',
  data () {
    return {
      productName: 'Playstation',
      productCategory: 'Game',
      productDetails: 'The PlayStation 5 (PS5) is a home video game console developed by Sony ' +
        'Interactive Entertainment. Announced in 2019 as the successor to the PlayStation 4, ' +
        'the PS5 was released on November 12, 2020 in Australia, Japan, New Zealand, North America, ' +
        'and South Korea, and November 19, 2020 onwards in other major markets except China. ' +
        'The console is scheduled to be launched in India on February 2, 2021.[1]',
      imageSrc: 'https://cdn.pocket-lint.com/r/s/970x/assets/images/154419-games-review-hands-on-playstation-5-hands-on-pics-image1-tbq3hzlrkw-jpg.webp'
    }
  }

}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
