<template>
  <div class="container-acs q-pa-md my-font-cal" v-if="this.data.length > 0">
    <q-table
      dir="rtl"
      title="תרומות"
      :data="data"
      :columns="columns"
      color="primary"
      row-key="name"
    />
  </div>
  <h4 dir="rtl" class="container-acs my-font-cal" v-else>אין תרומות שבוצעו</h4>
</template>

<script>
export default {
  name: 'UserAssociationsDonations',
  data () {
    return {
      username: '',
      columns: [
        {
          name: 'עמותה',
          required: true,
          label: 'שם עמותה',
          align: 'left',
          field: (row) => row.name,
          format: (val) => `${val}`,
          sortable: true
        },
        {
          name: 'total',
          align: 'center',
          label: 'סך תרומות',
          field: 'total',
          sortable: true
        }
      ],
      data: []
    }
  },
  mounted () {
    this.get_donations()
  },
  methods: {
    async get_donations () {
      this.username = JSON.parse(this.$root.storeShare.username)
      const response = await this.axios.get(
        this.$store.getters['ip/ip'] + '/users/get_donations/' + this.username
      )
      const donation = response.data.Donation
      for (let index = 0; index < donation.length; index++) {
        this.data.push(donation[index])
      }
    }
  }
}
</script>

<style >
.my-font-cal {
  font-family: Calibri;
  margin: auto;
  color: palevioletred;
}

.container-acs {
  background: white;
  width: 70%;
  padding: 40px;
  margin: 1px auto;
}

.my-font-acs {
  font-family: Calibri;
  font-max-size: large;
}

</style>
