<template>
  <div dir="rtl">
    <q-img
      v-for="(p, index) in product.image"
      :src="p"
      spinner-color="white"
      style="height: 250px; max-width: 300px"
      img-class="my-custom-image"
      class="rounded-borders"
      :key="index"
    >
      <div dir=rtl class="absolute-bottom text-subtitle1 text-center text-color-black-bold" >
        <div>תיאור המוצר: {{product.description}}</div>
        <div>המוצר התפרסם ב: {{product.publish_at | formatDate}}</div>
      </div>
    </q-img>
  </div>
</template>

<script>
import axios from 'axios'
import { date } from 'quasar'

async function getProductData (url) {
  let pro
  const proArray = []
  console.log('getProductData')
  await axios
    .get(url)
    .then(response => {
      pro = response.data.Products
      return pro
    }).catch(response => console.log('no products'))
    .then((jsonData) => {
      proArray.push(jsonData)
    })
  return {
    pro: proArray[0]
  }
}
export default {
  name: 'UserProduct',
  props: {
    url: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      product: [],
      askDone: false
    }
  },
  methods: {
    async updateProduct () {
      console.log(this.url)
      this.askDone = false
      const { pro } = await getProductData(this.url)
      console.log(pro)
      this.askDone = true
      this.product = pro
      console.log('return from getProductData')
      console.log(this.product)
    }
  },
  mounted () {
    console.log('mounted')
    this.updateProduct()
  },
  watch: {
    url: function () {
      this.updateProduct()
    }
  },
  filters: {
    formatDate (dateToFormat) {
      if (!dateToFormat) return ''
      return date.formatDate(dateToFormat, 'D - MMM - YYYY')
    }
  }
}

</script>

<style scoped>

</style>
