<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import { handleRedirectResult, firebaseAuth } from 'boot/firebase'
import { LocalStorage } from 'quasar'

export default {
  name: 'App',
  mounted () {
    console.log('APP MOUNTED')
    // handleAuthChanged(this)
    handleRedirectResult(this)
  },
  methods: {
    firebaseLogOut () {
      firebaseAuth.signOut()
        .then(() => {
          LocalStorage.set('loggedIn', false)
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
}
</script>
