<template>
  <div class="about text-center">
    <h3>אודות</h3>
    <q-card class="my-card justify-center text-center">
      <q-item>
        פרויקט זה הוא פלטפורמה חברתית שמטרתה לסייע לעמותות קטנות לגייס כספים בעזרת מכירת מוצרי יד-שניה ,
         הכסף עבור המוצרים יועבר לעמותה כתרומה, וכן להגדיל את חשיפתן בקרב הציבור הישראלי.
      </q-item>
      <q-item>
        הרעיון של הפרויקט שלנו בעצם התחיל במבצע "צוק איתן",
        אחיו התאום של אחד מחברי הצוות נהרג במבצע,
        ומאז הלכה וגדלה ההכרות שלו ושל משפחתו עם עמותת "אור למשפחות",
        עמותה העושה הכל למען המשפחות השכולות,
        תומכת בהם, עושה למענם אירועים משמחים ומרוממים רק כדי להכניס קצת אור לתוך החושך הזה שנקרא משפחת השכול.
      </q-item>
      <q-item>
        במהלך השנה העמותה מקבלת תרומות אבל הן מגיעות בעיקר מהמשפחות השכולות וזה לא מספיק,
        ומכאן הגיע הרעיון שלנו, לנסות ולעזור לעמותה לתת את כל התמיכה והאהבה למשפחות השכולות.
      </q-item>
      <q-item>
        כחלק מהכרותנו עם העמותה ואחרות כמוה אנו יודעים שעמותות רבות מנסות לגייס כספים ללא הצלחה,
        התהליך הוא תהליך מסורבל ולרוב הן לא מצליחות להגיע לתודעה הציבורית,
        ואנו חושבים שנוכל לאפשר חשיפה גדולה של העמותות הללו וכך לעזור להן בתהליך גיוס התרומות.
      </q-item>
      <q-item-label class="text-bold">
        פרויקט זה נכתב על ידי
      </q-item-label>
      <q-item >
        <q-img src="../assets/Pictures/aboutUs.png" height="388" width="1078"/>
      </q-item>
      <q-item-label class="text-bold">
        בהנחיית המנטורים
      </q-item-label>
      <q-item  class="justify-center">
        <q-img src="../assets/Pictures/aboutUs_mentors.png" height="120px" width="200px"/>
      </q-item>
    </q-card>
  </div>
</template>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 440px
  position: center
  padding: -0.5px
  margin: 1px auto
</style>
