<template>
  <div>
    <div class=" container-less q-pa-md row items-start q-gutter-md">
      <q-card class="  my-card my-font-cal" flat bordered>
        <AssociationAddEventReadOnly v-if="edit==false" :name="name" :date="date"
                                    :description="description" :email="email"/>
        <q-card-section v-if="edit==true">
          <h5 class="text-orange-9">הוספת אירוע</h5>
          <q-input
            name="name"
            v-model="name"
            color="primary"
            label="שם העמותה"
            disable
          />
          <q-input
            name="email"
            v-model="email"
            color="primary"
            label="email"
            disable
          />
          <q-input
            mask="####-##-##"
            class="full-width"
            v-model="date"
            rounded
            outlined
            type="date"
            stack-label
            label="תאריך האירוע" :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
          />
          <q-input
            name="description"
            v-model="description"
            color="primary"
            label="תיאור האירוע"
            clearable
            clear-icon="close"
            :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
          />
        </q-card-section>
        <q-card-actions>
          <q-btn
            color="grey"
            round
            flat
            dense
            :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="expanded = !expanded"
          />
          <q-space/>
          <q-btn v-if="edit==true" flat color="primary" label="שמור" @click="save"/>
          <q-btn v-if="edit==false" flat color="dark" label="עריכה" @click="editBtn"/>
          <q-btn v-if="edit==true" flat color="dark" label="ביטול" @click="editBtn"/>
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script>
import AssociationAddEventReadOnly from '../components/AssociationAddEventReadOnly'
import axios from 'axios'

export default {
  name: 'AddEvent',

  components: { AssociationAddEventReadOnly },
  data () {
    return {
      currentDate: '',
      currentDescription: '',
      name: '',
      email: '',
      date: '',
      description: '',
      slide: 1,
      ip: this.$store.getters['ip/ip'],
      expanded: false,
      edit: false
    }
  },
  mounted () {
    this.getAssociationDetails()
  },
  methods: {
    async getAssociationDetails () {
      try {
        this.email = this.$store.getters['user/email']
        const response = await axios.get(
          this.$store.getters['ip/ip'] + '/association/get_association_by_email/' + this.email
        )
        const associationData = response.data.Association
        this.description = ""
        this.currentDescription = this.description
        this.name = associationData.name
        this.email = associationData.email
        this.date = ""
        this.currentDate = this.date
      } catch (error) {
        console.log(error)
      }
    },
    editBtn () {
      if (this.edit === true) {
        this.edit = false
        this.description = this.currentDescription
        this.date = this.currentDate
      } else {
        this.edit = true
      }
    },
    async save () {
      if (this.edit === true) {
        this.edit = false
      } else {
        this.edit = true
      }
      this.$axios.defaults.withCredentials = true
      await this.$axios
        .post(this.$store.getters['ip/ip'] + '/association/event/add_event',
          {
              date: this.date,
              description: this.description,
              association_name: this.name,
              association_email: this.email
          })
        .then((response) => {
          this.$q.notify({
            color: 'primary',
            position: 'top',
            message: 'האירוע נוסף בהצלחה בהצלחה'

          })
          this.currentDescription = this.description
          this.currentDate = this.date
        }).catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'הוספת אירוע נכשלה',
            icon: 'report_problem'
          })
        })
    }
  }

}

</script>

<style scoped>
.container {
  background: white;
  width: 40%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

.container-less {
  background: white;
  width: 70%;
  padding: 40px;
  margin: 1px auto;
}

.my-font-cal {
  font-family: Calibri;
}

.my-card {
  width: 100%;
  max-width: 350px;
}
</style>



