<template>
  <div>
    <div
      class="fit column justify-center items-center content-center"
      v-if="!chosenTask">
      <h1>Admin</h1>
      <q-btn rounded outline @click="chosenTask = registerTask">Register new Admin</q-btn>
      <q-btn class="q-mt-md" rounded outline @click="chosenTask = setAdminTask">Set user as Admin</q-btn>
      <q-btn class="q-mt-md" rounded outline @click="chosenTask = setDeleteTask">Delete User</q-btn>
      <q-btn class="q-mt-md" rounded outline @click="chosenTask = addAssc">Add Association</q-btn>
      <q-btn class="q-mt-md" rounded outline @click="chosenTask = delAssc">Delete Association</q-btn>
      <q-btn class="q-mt-md" rounded outline @click="chosenTask = viewAscDonts">View Associations Donations</q-btn>
    </div>
    <div v-else-if="chosenTask === registerTask" >
      <add-new-admin class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
    <div v-else-if="chosenTask === setAdminTask" >
      <set-user-admin class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
    <div v-else-if="chosenTask === setDeleteTask" >
      <delete-user class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
    <div v-else-if="chosenTask === delAssc" >
      <delete-association class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
    <div v-else-if="chosenTask === addAssc" >
      <add-new-association class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
    <div v-else-if="chosenTask === viewAscDonts" >
      <view-asc-donations class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
<!--    <AddNewAdmin class="q-pl-xl"/>-->
  </div>
</template>

<script>
export default {
  name: 'AdminDashboard',
  components: {
    AddNewAdmin: () => import('../components/AddNewAdmin'),
    AddNewAssociation: () => import('../components/AddNewAssociation'),
    SetUserAdmin: () => import('../components/SetUserAsAdmin'),
    DeleteUser: () => import("../components/DeleteUser"),
    ViewAscDonations: () => import("../components/AdminViewAscDonations"),
    DeleteAssociation: () => import('../components/DeleteAssociation')
  },
  data () {
    return {
      chosenTask: '',
      registerTask: 'reg',
      setAdminTask: 'set',
      setDeleteTask: 'del',
      delAssc: 'delAsc',
      viewAscDonts: 'viewAscDonts',
      addAssc: 'addAsc'
    }
  }
}
</script>

<style scoped>

</style>
