<template>
  <div class="AssociationsSearch">
    <div class="row contents-less" dir="rtl">
      <div class="q-pa-md">
        <div class="q-gutter-sm">
          <ul>
            <li>
              <q-checkbox v-model="selection" :change="select()" val="כוחות הבטחון" label="כוחות הבטחון" color="teal" />
            </li>
            <li>
              <q-checkbox v-model="selection" @click="select()" val="חינוך והסברה" label="חינוך והסברה" color="teal" />
            </li>
            <li>
              <q-checkbox v-model="selection" @click="select()" val="רווחה" label="רווחה" color="teal" />
            </li>
            <li>
              <q-checkbox v-model="selection" @click="select()" val="שיוויון מגדרי ומאבק באלימות נגד נשים" label="שיוויון מגדרי ומאבק באלימות נגד נשים" color="teal" />
            </li> <li>
              <q-checkbox v-model="selection" @click="select()" val="ילדים ונוער בסיכון" label="ילדים ונוער בסיכון" color="teal" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <DialogAssociationsList :requestURL="assoc"/>
      </div>
    </div>
  </div>

</template>

<script>
import DialogAssociationsList from "../components/DialogAssociationsList";
export default {
  name: 'AssociationsSearch',
  components: {DialogAssociationsList},
  data() {
    return {
      assoc: '',
      selection: [],
      isSelected: false
    }
  },
  mounted() {
    console.log("Mounted")
  },
  methods: {
    select(){
      if(this.selection.length > 0){
        this.isSelected = true
        let queryArray = [];
        let query = '';
        if(this.isSelected) {
          queryArray =  this.selection
          console.log(queryArray)
        }
        for(let i in queryArray){
          if(i === '0'){
            query = queryArray[i];
          }
          else{
            query = query + '&' + queryArray[i];
          }
        }
        if(query){
          console.log(query)
          this.assoc = this.$store.getters['ip/ip'] + '/association/get_associations_by_category/' + query;
        }
      }
      else{
        this.isSelected = false
        this.assoc = this.$store.getters['ip/ip'] +'/association/'
      }

    }
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>
