<template>
  <div class="about">
    <h3>הכר את העמותות שלנו</h3>
        <AssociationsSearch/>
  </div>
</template>

<script>
import AssociationsSearch from '../components/AssociationsSearch'
export default {
  name: 'Associations',
  components: { AssociationsSearch },
  data () {
    return {
      assoc: this.$store.getters['ip/ip'] + '/association/'
    }
  },
  mounted () {
    console.log('Mounted')
  },
  methods: {
  }
}
</script>
<style>

  h3{
    text-align: center;
  }
</style>
