<template>
  <div class="container">
    <Association :url="url"></Association>
    <AssociationComp :url="url"></AssociationComp>
  </div>
</template>

<script>
import Association from '../components/Association'
import AssociationComp from '../components/AssociationComponent'

export default {
  name: 'AssociationPage',
  components: { AssociationComp },
  data () {
    return {
      url: this.$store.getters['ip/ip'] + '/association/' + this.$route.params.username
    }
  }
}
</script>

<style scoped>

</style>
