<template>
  <div>
    <div class=" container-less q-pa-md row items-start q-gutter-md">
      <q-card class="  my-card my-font-cal" flat bordered>
        <AssociationDetailsReadOnly v-if="edit==false" :username="username" :name="name" :activity="activity"
                             :description="description" :url="url" :phone_number="phone" :bankName="bankName"
                                    :bankNumber="bankNumber" :donations="donations" :brunchNumber="brunchNumber" :accountNumber="accountNumber" :email="email"/>
        <q-card-section v-if="edit==true">
          <h5 class="text-orange-9" dir="rtl">פרטי עמותה:</h5>
          <q-input
            name="name"
            v-model="name"
            color="primary"
            label="שם העמותה"
            disable
          />
          <q-input
            name="name"
            v-model="username"
            color="primary"
            label="שם משתמש"
            clearable
            clear-icon="close"
            lazy-rules
            mask="SSSSSSSS"
            :rules="[ val => val && val.length > 2 || 'מלא בבקשה לפחות 3 תווים']"
          />
          <q-input
            name="activity"
            v-model="activity"
            color="primary"
            label="תחום פעילות העמותה"
            disable
          />
          <q-input
          name="description"
          v-model="description"
          color="primary"
          label="תיאור העמותה"
          clearable
          clear-icon="close"
          :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
        />
          <q-input
            name="url"
            v-model="url"
            color="primary"
            label="כתובת אתר העמותה"
            clearable
            clear-icon="close"
            mask="SSSSSSSSSSSSSSSSSSSS"
            :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
          />
          <q-input
            name="phone"
            v-model="phone"
            color="primary"
            label="מספר טלפון"
            clearable
            clear-icon="close"
            mask="###########"
            :rules="[ val => val && val.length > 8 || 'מלא בבקשה מספר טלפון חוקי']"
          />
          <q-input
            name="bankName"
            v-model="bankName"
            color="primary"
            label="שם הבנק"
            disable
          />
          <q-input
            name="bankNumber"
            v-model="bankNumber"
            color="primary"
            label="מספר הבנק"
            disable
          />
          <q-input
            name="brunchNumber"
            v-model="brunchNumber"
            color="primary"
            label="מספר סניף"
            disable
          />
          <q-input
            name="accountNumber"
            v-model="accountNumber"
            color="primary"
            label="מספר חשבון"
            disable
          />
          <q-input
            name="email"
            v-model="email"
            color="primary"
            label="email"
            disable
          />
          <q-input
            name="donations"
            v-model="donations"
            color="primary"
            label="סכום התרומות"
            disable
          />
        </q-card-section>
        <q-card-actions>
          <q-btn
            color="grey"
            round
            flat
            dense
            :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="expanded = !expanded"
          />
          <q-space/>
          <q-btn v-if="edit==true" flat color="primary" label="שמור" @click="save"/>
          <q-btn v-if="edit==false" flat color="dark" label="עריכה" @click="editBtn"/>
          <q-btn v-if="edit==true" flat color="dark" label="ביטול" @click="editBtn"/>
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script>
import AssociationDetailsReadOnly from '../components/AssociationDetailsReadOnly'
import axios from 'axios'

export default {
  name: 'AssociationDetails',

  components: { AssociationDetailsReadOnly },

  data () {
    return {
      currentUsername: '',
      currentDescription: '',
      currentPhone: '',
      currentUrl: '',
      username: '',
      name: '',
      bankName: '',
      accountNumber: '',
      brunchNumber: '',
      bankNumber: '',
      email: '',
      phone: '',
      activity: '',
      description: '',
      donations: 0,
      url: '',
      slide: 1,
      ip: this.$store.getters['ip/ip'],
      expanded: false,
      edit: false
    }
  },
  mounted () {
    this.getAssociationDetails()
  },
  methods: {
    async getAssociationDetails () {
      try {
        this.email = this.$store.getters['user/email']
        const response = await axios.get(
          this.$store.getters['ip/ip'] + '/association/get_association_by_email/' + this.email
        )
        const associationData = response.data.Association
        this.username = associationData.username
        this.currentUsername = this.username
        this.description = associationData.description
        this.currentDescription = this.description
        this.phone = associationData.phone_number
        this.donations = associationData.donations
        console.log("phone:")
        console.log(this.phone)
        this.currentPhone = this.phone
        this.url = associationData.url
        this.currentUrl = this.url
        this.name = associationData.name
        this.bankName = associationData.bank_name
        this.accountNumber = associationData.account_number
        this.brunchNumber = associationData.branch_number
        this.bankNumber = associationData.bank_number
        this.activity = associationData.activity
        this.email = associationData.email
        this.donations = associationData.donations

      } catch (error) {
        console.log(error)
      }
    },
    editBtn () {
      if (this.edit === true) {
        this.edit = false
        this.username = this.currentUsername
        this.description = this.currentDescription
        this.phone = this.currentPhone
        this.url = this.currentUrl
      } else {
        this.edit = true
      }
    },
    async save () {
      if (this.edit === true) {
        this.edit = false
      } else {
        this.edit = true
      }
      console.log('username: ' + this.username)
      this.$axios.defaults.withCredentials = true
      await this.$axios
        .patch(this.$store.getters['ip/ip'] + '/association/update',
          {
            email: this.email,
            username: this.username,
            phone_number: this.phone,
            url: this.url,
            description: this.description
          })
        .then((response) => {
          this.$q.notify({
            color: 'primary',
            position: 'top',
            message: 'עודכנו פרטים בהצלחה'

          })
          this.currentUsername = this.username
          this.currentDescription = this.description
          this.currentPhone = this.phone
          this.currentUrl = this.url
        }).catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'עדכון נכשל',
            icon: 'report_problem'
          })
        })
    }
  }

}

</script>

<style>
.container {
  background: white;
  width: 40%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

.container-less {
  background: white;
  width: 70%;
  padding: 40px;
  margin: 1px auto;
}

.my-font-cal {
  font-family: Calibri;
}

.my-card {
  width: 100%;
  max-width: 350px;
}
</style>
