<template>
  <q-page class="bg-white window-height window-width row justify-center items-center">
    <div class="column">
      <div class="row" dir="rtl">
        <h3 class="text-h5 text-light-blue-10 q-my-md">בקשת הצטרפות כעמותה</h3>
      </div>
      <div class="row font-all">
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form
              @submit.prevent="sendEmail"
              class="q-gutter-md"
            >
              <q-input
                square filled clearable
                v-model="from_name"
                label="שם העמותה"
                :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"


              />

              <q-input
                filled
                type="email"
                v-model="from_email"
                label="מייל העמותה"
                :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"


              />
              <q-input
                filled
                mask="##########"
                v-model="from_phone"
                label="טלפון להתקשרות"
                :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
                type="tel"
              />

              <q-input
                v-model="message"
                filled
                autogrow
                type="textarea"
                label="ספרו לנו עליכם"
                :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"

              />

              <div>
                <q-btn class="full-width my-font" label="שלח בקשה" type="submit" color="primary"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>

</template>

<script>
import emailjs from 'emailjs-com';

export default {
  name: "AssRequestForm",
  data() {
    return {
      from_name: '',
      from_email: '',
      from_phone: '',
      message: ''
    }
  },
  methods: {
    sendEmail() {
      const data = {
        from_name: this.from_name,
        from_email: this.from_email,
        form_phone: this.from_phone,
        message: this.message

      }
      emailjs.send('service_u3pr1rf', 'template_o9s1kpd', data, 'user_DBmolTARFrrRL9qyqnJJA')
        .then((result) => {
          console.log('SUCCESS!', result.status, result.text);
        }, (error) => {
          console.log('FAILED...', error);
        });

      this.from_name = ''
      this.from_email = ''
      this.from_phone = ''
      this.message = ''
    }
  }
}
</script>

<style>
.q-card {
  width: 350px;
}

</style>

