<template>
  <q-page class="bg-white row justify-center items-center">
    <div class="column">
      <div dir="rtl" class="row">
<!--        <h3 class="text-h5 text-light-blue-10 q-my-md">שינוי סיסמה</h3>-->
      </div>
      <div class="row font-all">
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form @submit.prevent="changePassword" class="q-gutter-md">
              <q-input square filled clearable id="oldPassword"
                       v-model="oldPassword"
                       type="password"
                       label="סיסמה ישנה"
                       :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
                       clear-icon="close"

              />
              <q-input square filled clearable id="newPassword"
                       v-model="newPassword"
                       type="password"
                       label="סיסמה חדשה"
                       :rules="[ val => val && val.length > 5 || 'מלא בבקשה לפחות 6 תווים']"
                       clear-icon="close"

              />
              <q-input square filled clearable id="confirmPassword"
                       v-model="confirmPassword"
                       type="password"
                       label="אימות סיסמה חדשה"
                       :rules="[match]"
                       clear-icon="close"

              />
              <q-card-actions class="q-px-md">
                <q-btn nelevated color="light-blue-10" size="lg" type="submit" class="full-width my-font"
                       label="שינוי סיסמה"/>
              </q-card-actions>
            </q-form>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import {api} from 'boot/axios'

export default {
  name: "ChangePassword",
  data() {
    return {
      email: '',
      oldPassword: '',
      newPassword: '',
      confirmPassword: ''
    }
  },
  methods: {
    match(val) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(val === this.newPassword || 'אין התאמה בין הסיסמאות')
        }, 1000)
      })
    },
    async changePassword() {
      const ip = this.$store.getters['ip/ip'] + '/users/change-password'
      // eslint-disable-next-line no-unused-vars
      const response = await api.patch(
        ip,
        {
          current_password: this.oldPassword,
          new_password: this.newPassword,
          confirm_password: this.confirmPassword
        }
      ).then(() => {
        this.$q.notify({
          position: 'bottom',
          message: 'שינוי סיסמה בוצע בהצלחה',
        })
      }).catch(() => {
        this.$q.notify({
          color: 'negative',
          position: 'bottom',
          message: 'שינוי סיסמה נכשל',
          icon: 'report_problem'
        })
      })
    }
  }

}
</script>

<style>
.q-card {
  width: 360px;
}
</style>
