<template>
  <q-page class="bg-white row justify-center items-center">
    <q-card square bordered class="q-pa-lg shadow-1">
    <q-form
      @submit.prevent="sendEmail"
      class="q-gutter-md q-pt-xl"
    >
      <q-input
        square filled clearable
        v-model="from_name"
        label="שם מלא*"
        hint="שם פרטי ושם משפחה"
      />
      <q-input
        square filled clearable
        type="email"
        v-model="from_email"
        label="אימייל*"
        hint="כתובת אימייל"
      />
      <q-input
        v-model="message"
        square filled clearable
        autogrow
        type="textarea"
        label="תוכן ההודעה*"
        hint="הודעה"
      />
      <q-card-actions class="q-px-md">
        <q-btn nelevated color="light-blue-10" size="lg" type="submit" class="full-width my-font" label="שלח אימייל"/>
      </q-card-actions>
    </q-form>
    </q-card>
  </q-page>
</template>

<script>
  import emailjs from 'emailjs-com';

  export default {
    name: "ContactUs",
    data() {
      return {
        from_name: '',
        from_email: '',
        message: ''
      }
    },
    methods: {
      sendEmail() {
        const data = {
          from_name: this.from_name,
          from_email: this.from_email,
          message: this.message
        }
        emailjs.send('service_u3pr1rf', 'template_o9s1kpd', data, 'user_DBmolTARFrrRL9qyqnJJA')
          .then((result) => {
            console.log('SUCCESS!', result.status, result.text);
          }, (error) => {
            console.log('FAILED...', error);
          });

        this.from_name = ''
        this.from_email = ''
        this.message = ''
      }
    }
  }
</script>

<style scoped>
.q-card {
  width: 360px;
}
.font-all{
  font-family: Calibri;
}
</style>
