<template>
  <div dir="rtl" class="row justify-center items-center">
    <div>
      <div class="shadow-7 col-md-12 q-pa-xl background">
        <p/>
        <q-input v-model="productName" placeholder="שם המוצר"
                 :rules="[ val => val && val.length > 0 || 'Required']"
                 :dense="true"/>
        <p/>
        <q-input v-model="description" type="textarea" autogrow
                 placeholder="תיאור המוצר"
                 :rules="[ val => val && val.length > 0 || 'Required']"
                 :dense="true"/>
        <p/>
        <q-input v-model="price" placeholder="מחיר" type="number" prefix="₪" :dense="true"/>
        <p/>
        <q-select v-model="mainCategory" use-input
                  input-debounce="0" @filter="filterCat"
                  behavior="menu"
                  class="dia-p-main"
                  label="קטגוריה ראשית" stack-label
                  :options="mainCategoryOptions"
                  :rules="[myRule]">
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-select
          v-if="mainCategory==null"
          disable
          v-model="subCategory"
          multiple
          :options="subCategoryOptions"
          label="קטגוריות משניות" stack-label/>
        <q-select v-else
                  v-model="subCategory"
                  multiple
                  :options="subCategoryOptions"
                  class="dia-p-sub"
                  label="קטגוריות משניות" stack-label
                  :rules="[myRule]"
        />
        <p/>
        <q-select v-model="settlement" use-input
                  input-debounce="0" @filter="filterFn"
                  behavior="menu"
                  class="dia-p-city"
                  :options="options"
                  :rules="[myRule]"
                  :dense="true"
        >
          <template v-slot:prepend>
            <q-icon name="place"/>
          </template>
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <p/>
        <q-input dir="ltr" :rules="[ val => val && val.length > 0 || 'Required']" v-model="phoneNumber"
                 mask="(###) ### - ####" placeholder="מספר טלפון" :dense="true"/>
        <p/>
        <q-btn flat rounded color="primary" label="עריכה" @click="onEdit"/>
        <q-btn flat rounded color="primary" label="ביטול" @click="Reset"/>


      </div>
    </div>
    <div class="my-card col-md-12 q-pa-xl">
      <q-card class="justify-center items-center my-card my-card-edit">
        <q-carousel
          v-if="this.product.image.length > 0"
          swipeable
          animated
          arrows
          v-model="slide"
          infinite
          class="q-img-prod rounded-borders"
          control-color="primary"
        >
          <q-carousel-slide v-for="(p, index) in product.image" :key="index" :name="index" :img-src="p">

          </q-carousel-slide>
        </q-carousel>
        <q-img v-if="product.image.length == 0"
               class="q-img-prod rounded-borders"
               src="../assets/Pictures/no_image.png"
               spinner-color="white">
        </q-img>
        <div class="text-h5 q-pr-md text-primary">הוספת תמונה</div>
        <CloudinaryUpload @update_multi_image_url="update_multi_image_url" :multi_image_url_list="image_url"/>
        <q-btn flat rounded color="primary" label="אישור" @click="addImages"/>

      </q-card>
    </div>
  </div>
</template>

<script>
import CloudinaryUpload from "../components/CloudinaryUpload";
import settlements from "../assets/files/settlements";
import mainCategory from "../assets/files/mainCategory";
import subCategories from "../assets/files/subCategories";
import axios from "axios";

export default {
  name: "EditProduct",
  components: {
    CloudinaryUpload
  },

  data() {
    return {
      url: this.$store.getters['ip/ip'] + '/product/' + this.$route.params.productId,
      image_url: [],
      product: Object,
      askDone: false,
      productName: '',
      description: '',
      mainCategory: '',
      subCategory: [],
      price: '',
      settlement: '',
      settlements: [],
      image: [],
      phoneNumber: '',
      options: this.settlements,
      model: null,
      mainCategoryOptions: this.mainCategory,
      mainCategoryList: [],
      subCategoryOptions: [],
      subCategoryAllOptions: [],
      // cloudinary
      filesSelected: 0,
      cloudName: "donatitapp",
      fileContents: null,
      preset: "donate",
      formData: null,
      cloudinaryUploadURL: "",
      file: null,
      slide: 0,
      email: this.$store.getters['user/email'],
      edit: false
    }
  },
  async mounted() {
    this.settlements = []
    this.mainCategoryList = []
    this.subCategoryAllOptions = []
    this.settlements.push(...settlements)
    this.mainCategoryList.push(...mainCategory)
    this.subCategoryAllOptions.push(...subCategories)
    await this.updateProduct()
    this.productName = this.product.product_name
    this.description = this.product.description
    this.mainCategory = this.product.main_category
    this.subCategory.push(...this.product.sub_category)
    this.price = this.product.price
    this.settlement = this.product.city
    this.image.push(...this.product.image)
    this.phoneNumber = this.product.phone_number
  },
  watch: {
    mainCategory: function (val) {
      try {
        if (!this.edit) {
          this.edit = true
          this.subCategory = []
          this.subCategory.push(...this.product.sub_category)

        } else {
          this.subCategory = null
          this.subCategoryOptions = this.subCategoryAllOptions[0][this.mainCategory]
        }
      } catch (err) {
        console.log(err)
      }
    }
  },
  methods: {
    prepareFormData: function () {
      this.formData = new FormData();
      this.formData.append("upload_preset", this.preset);
      this.formData.append("file", this.fileContents);
    },
    handleFileChange: function (event) {
      console.log("handlefilechange", event.target.files);
      //returns an array of files even though multiple not used
      this.file = event.target.files[0];
      this.filesSelected = event.target.files.length;
      this.onUpload();
    },
    update_image_url(event) {
      console.log("update_image_url");
      console.log(event);
      this.image_url = event;
      console.log(this.image_url);
    },
    update_multi_image_url(event) {
      console.log("update_multi_image_url");
      console.log(event);
      // console.log(event.length);
      // for(let i = 0; i < event.length; i++){
      //   this.image_url.push(event[i]);
      // }
      this.image_url = event;
      console.log(this.image_url);
    },
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.options = this.settlements
        })
        return
      }
      update(() => {
        const needle = val
        this.options = settlements.filter(v => v.indexOf(needle) > -1)
      })
    },
    myRule(val) {
      if (val === null) {
        return 'You must make a selection!'
      }
    },
    filterCat(val, update) {
      if (val === '') {
        update(() => {
          this.mainCategoryOptions = this.mainCategoryList
        })
        return
      }
      update(() => {
        const needle = val
        this.mainCategoryOptions = this.mainCategoryList.filter(v => v.indexOf(needle) > -1)
      })
    },
    async getProductData(url) {
      let pro
      const proArray = []
      console.log('getProductData')
      await axios
        .get(url)
        .then(response => {
          pro = response.data.Products
          return pro
        }).catch(response => console.log('no products'))
        .then((jsonData) => {
          proArray.push(jsonData)
        })
      return {
        pro: proArray[0]
      }
    },
    async updateProduct() {
      console.log(this.url)
      this.askDone = false
      const {pro} = await this.getProductData(this.url)
      console.log(pro)
      this.askDone = true
      this.product = pro
      this.product.publish_at = pro["publish_at"].substring(0, 10)
      console.log('return from getProductData')
      console.log(this.product)
    },
    Reset() {
      this.edit = false
      this.productName = this.product.product_name
      this.description = this.product.description
      this.mainCategory = this.product.main_category
      this.subCategory.push(...this.product.sub_category)
      this.price = this.product.price
      this.settlement = this.product.city
      this.image.push(...this.product.image)
      this.phoneNumber = this.product.phone_number
    },
    async onEdit() {
      console.log("onEdit")
      // CloudinaryUpload.fetchData()
      try {
        this.email = this.$store.getters['user/email']
        const product_data = {
          id: this.$route.params.productId,
          product_name: this.productName,
          description: this.description,
          price: this.price,
          main_category: this.mainCategory,
          city: this.settlement,
          phone_number: this.phoneNumber,
          seller_email: this.email,
          sub_category: this.subCategory,
          image: this.image
        }
        console.log(product_data)
        const response =
          await this.$api.patch(
            this.$store.getters['ip/ip'] + '/product/update',
            product_data
          ).then((response) => {
            this.$q.notify({
              color: 'primary',
              position: 'top',
              message: 'עודכנו פרטים בהצלחה'

            })
            this.currentUsername = this.username
            this.currentLastName = this.lastName
            this.currentFirstName = this.firstName
          }).catch(() => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: 'עדכון נכשל',
              icon: 'report_problem'
            })
          })
        this.$router.push({path: '/'}).catch(() => {
          this.$router.go()
        })
        // console.log('response:')
        // console.log(response)
      } catch (err) {
        console.log(err)
        console.log(err.response)
      }
    },
    async addImages() {
      try {
        let image = []
        this.image_url.forEach(element => image.push(element));
        this.image.push(...image)
        const product_img = {
          id: this.$route.params.productId,
          image: this.image
        }
        console.log(product_img)
        const response =
          await this.$api.patch(
            this.$store.getters['ip/ip'] + '/product/update-imgs',
            product_img
          ).then((response) => {
            this.$q.notify({
              color: 'primary',
              position: 'top',
              message: 'עודכנו פרטים בהצלחה'

            })
            this.currentUsername = this.username
            this.currentLastName = this.lastName
            this.currentFirstName = this.firstName
          }).catch(() => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: 'עדכון נכשל',
              icon: 'report_problem'
            })
          })
        this.$router.push({path: '/'}).catch(() => {
          this.$router.go()
        })
        // console.log('response:')
        // console.log(response)
      } catch (err) {
        console.log(err)
        console.log(err.response)
      }
    }
  },

}
</script>

<style lang="sass" scoped>
.my-card
  width: 450px


.background
  padding: 10px 15px
  border: 1px solid rgba(86, 61, 124, .2)
</style>
