<template>
  <div>
    <div :class="{ 'contents-web': $q.platform.is.desktop }">
    <q-carousel
      animated
      v-model="slide"
      navigation
      infinite
      :autoplay="autoplay"
      arrows
      transition-prev="slide-right"
      transition-next="slide-left"
      @mouseenter="autoplay = false"
      @mouseleave="autoplay = true"
      control-color="info">
      <q-carousel-slide :name="1" class="q-pa-none">
        <img src="../assets/Pictures/donate_2jpg.jpg" alt="mountains" class="fit" style="object-fit: cover;"/>
      </q-carousel-slide>
<!--      <q-carousel-slide :name="2" class="q-pa-none">-->
<!--        <img src="../assets/Pictures/donate_3.jpg" alt="mountains" class="fit" style="object-fit: cover;"/>-->
<!--      </q-carousel-slide>-->

    </q-carousel>
  </div>
    <p/>
    <p/>
    <q-separator/>
    <q-separator/>
    <div align="center">
      <p/>
        <div v-if="$q.platform.is.desktop" class="text-h4 line-anim"  >מוצרים חדשים</div>
        <div v-if="$q.platform.is.mobile" class="text-h5 line-anim"  >מוצרים חדשים</div>
      <p/>
    </div>
    <q-separator/>
    <q-separator/>
    <div class="col-12 col-md">
      <DialogProductsList :requestURL="random_product"/>
    </div>
    <q-separator/>
    <q-separator/>
    <div align="center">
      <p/>
      <div v-if="$q.platform.is.desktop" class="text-h4 line-anim">מי אנחנו</div>
      <div  v-if="$q.platform.is.mobile" class="text-h5 line-anim">מי אנחנו</div>
      <p/>
    </div>
    <q-separator/>
    <q-separator/>
    <p/>
    <p/>
    <p/>
    <p/>
        <div class="q-pa-lg">
          <q-video class="shadow-7"
                   :ratio="10/4"
                   src="https://www.youtube.com/embed/5XZQAQQxX3A"/>
        </div>

    <q-separator/>
    <q-separator/>
    <div align="center">
      <p/>
      <div v-if="$q.platform.is.desktop" class="text-h4 line-anim">אירועים קרובים</div>
      <div v-if="$q.platform.is.mobile" class="text-h5 line-anim">אירועים קרובים</div>
      <p/>
    </div>
    <q-separator/>
    <q-separator/>
      <div dir="rtl">
          <Events :url="random_events"/>
      </div>
<!--    <ProductsCat></ProductsCat>-->
<!--    <AssAnimate></AssAnimate>-->
    </div>
</template>

<script>
import Events from '../components/Events'
import DialogProductsList from '../components/DialogProductsList'
import ProductsCat from 'components/ProductsCat'
// import AssAnimate from '../components/AssAnimate'

export default {
  name: 'PageIndex',
  components: { Events, DialogProductsList },
  data () {
    return {
      random_events: this.$store.getters['ip/ip'] + '/association/event/get_random_events/5',
      random_product: this.$store.getters['ip/ip'] + '/product/get_random_products/3',
      right: true,
      slide: 1,
      autoplay: true
    }
  }
}
</script>

<style lang="scss">

.img{
  width: auto !important; /*Keep the aspect ratio of the image*/
  height: 140px !important;
  margin: 0 auto 1em auto; /*Center the image*/
}
.pad {
  /*margin-right: 50px;*/
  /*margin-left: 50px;*/
  border-radius: 10px;
}
.shad {
  -moz-box-shadow: 0 0 25px #888;
  -webkit-box-shadow: 0 0 25px #888;
  box-shadow: 0 0 25px #888;
}

.line-anim {
  color: #000000;
  letter-spacing: 0.08em;
  position: relative;
  width: 50%;
}



.line-anim:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #06b6e2;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.line-anim:hover:after {
  width: 100%;
  left: 0;
}







</style>
