<template>
  <Login :url="loginUser" :loginas="loginas"/>
</template>

<script>
import Login from '../components/Login'

export default {
  name: "LoginUserPage",
  components: {Login},
  data (){
    return {
      loginUser: this.$store.getters['ip/ip'] +'/users/login',
      loginas: "התחברות"
    }
  }
}
</script>

<style scoped>

</style>
