<template>
  <div >
<!--    <div class="text-h4" dir="rtl"></div>-->
    <div class="q-pa-md row items-start q-gutter-md justify-center centers flex" :key="product">
      <div  v-for="(id, index) in product"
            :key="index">
        <UserProduct :url="ip+'/product'+'/'+id" @updateProduct="updateProduct"/>
      </div>
    </div>
    <div class="q-pa-xl flex centers justify-center text-h5" v-if="this.askDone">
      <div v-if="this.product.length == 0">
        עדיין אין לך מוצרים באתר
      </div>
    </div>
  </div>
</template>

<script>
import UserProduct from '../components/UserProduct'

export default {
  name: 'MyProduct',
  components: {UserProduct},

  data() {
    return {
      product: [],
      askDone: false,
      ip: this.$store.getters['ip/ip']
    }
  },
  mounted() {
    this.getUserDetails()
  },
  methods: {
    async getUserDetails() {
      try {
        this.email = this.$store.getters['user/email']
        const response = await this.$axios.get(
          this.$store.getters['ip/ip'] + '/users/' + this.email
        )
        const userData = response.data.User
        this.product = userData.products_for_sale
      } catch (error) {
        console.log(error)
      }
    },
    async updateProduct(e) {
      // let i = 0;
      // while (i < this.product.length) {
      //   if (String(this.product[i]).valueOf() === String(e.id).valueOf()) {
      //     this.product.splice(i, 1)
      //   } else {
      //     ++i
      //   }
      // }

      await this.getUserDetails()

      console.log("WHYYYYYYYYYYYYY")
      console.log(this.product.length)
      console.log(this.product)
    }
  }
}

</script>


<style lang="sass">

.center
  margin: auto
  width: 70%
  padding: 10px


</style>
