<template>
  <div>
<!--    <product :url="url" :myProduct="true"></product>-->
    <ProductComp :url="url" :myProduct="true" :id="id"></ProductComp>
  </div>
</template>

<script>
import ProductComp from '../components/ProductComponent'
import axios from "axios";

async function getProductData(url) {
  let pro
  const proArray = []
  console.log('getProductData')
  await axios
    .get(url)
    .then(response => {
      pro = response.data.Products
      return pro.main_category
    }).catch(response => console.log('no products'))
    .then((jsonData) => {
      proArray.push(jsonData)
    })
  return proArray[0];

}

export default {
  name: 'MyProductPage',
  components: { ProductComp },
  data() {
    return {
      url: this.$store.getters['ip/ip'] + '/product/' + this.$route.params.productId,
      mainCategory: "",
      id: this.$route.params.productId
    }
  },
  async mounted() {
    console.log('recommendation mounted')
    this.mainCategory = await getProductData(this.url)
  },
  computed: {
    recommendationURL() {
      return this.$store.getters['ip/ip'] + '/product/recommendation/' + this.mainCategory
    }
  },
  watch: {
    async $route(to, from) {
      this.url = this.$store.getters['ip/ip'] + '/product/' + this.$route.params.productId
      this.mainCategory = await getProductData(this.url)
    }
  }
}

</script>

<style scoped>

.contents-less {
  width: 80%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 0px;
}

</style>
