<template>
  <div>
    <div class="q-pa-xl" style="max-width: 500px">

      <q-stepper
        v-model="step"
        vertical
        color="primary"
        animated
      >
        <q-step
          :name="0"
          :title="step_zero_title"
          icon="credit_card"
          :done="step > 0"
          style="font-size: 20px"
        >
          <q-img :src="product.image"
          width="50%"
          height="50%"></q-img>
          <q-separator/>
          הסכום לתשלום: ₪
          {{ product.price }}
          <q-stepper-navigation>
            <q-btn @click="step = 1" color="primary" label="הבא" />
          </q-stepper-navigation>
        </q-step>

        <q-step
          :name="1"
          title="פרטי אשראי"
          icon="credit_card"
          :done="step > 1"
        >
          <q-form
          @submit="forward_step(step)">
            <q-input
              filled
              v-model="card"
              label="כרטיס אשראי"
              mask="#### - #### - #### - ####"
              fill-mask="#"
              unmasked-value
              style="width: 98%"
              :rules="[myRule]"
            />
            <q-select
              label="חודש"
              transition-show="flip-up"
              transition-hide="flip-down"
              filled
              v-model="month"
              :options="options"
              style="width: 98%"
              :rules="[myRule]"
            />
            <q-select
              label="שנה"
              transition-show="flip-up"
              transition-hide="flip-down"
              filled
              v-model="year"
              :options="optionsYear"
              style="width: 98%"
              :rules="[myRule]"
              />
            <q-input
              filled
              v-model="cvv"
              label="Cvv"
              mask="###"
              style="width: 98%"
              unmasked-value
              :rules="[myRule]"
            />
            <q-stepper-navigation>
              <q-btn type="submit" color="primary" label="הבא" />
              <q-btn flat @click="back_step(step)" color="primary" label="חזור" class="q-ml-sm" />
            </q-stepper-navigation>
          </q-form>

        </q-step>

        <q-step
          :name="2"
          title="פרטים אישיים"
          icon="account_circle"
          :done="step > 2"
        >
          <q-form
            @submit="forward_step(step)">
              <q-input
                filled
                v-model="id"
                label="תעודת זהות"
                mask="#########"
                unmasked-value
                style="width: 98%"
                :rules="[myRule]"
              />
                <q-select
                  label="בחר עמותה"
                  transition-show="flip-up"
                  transition-hide="flip-down"
                  filled
                  v-model="association"
                  :options="optionsAssociation"
                  :option-label="(item)=>item.name"
                  style="width: 98%"
                  :rules="[myRule]"
                />

            <q-stepper-navigation>
              <q-btn @click.prevent="payment" color="primary" label="לתשלום" icon="shopping_cart"/>
              <q-btn flat @click="step = 1" color="primary" label="חזור" class="q-ml-sm" />
            </q-stepper-navigation>
          </q-form>
        </q-step>

      </q-stepper>
      <q-linear-progress
        size="md"
        :value="(step / max_step) + 0.1"
        color="primary"
        label="Payment"
      />
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import {Cookies} from 'quasar'

  export default {
    name: 'PaymentPage',
    data() {
      return {
        productId: this.$route.params.productId,
        id: null,
        cvv: null,
        card: null,
        month: null,
        options: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
        year: null,
        association: null,
        optionsYear: ['2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028'],
        optionsAssociation: [],
        errors: null,
        product: null,
        step: 0,
        max_step: 3
      }
    },
    methods: {
      async mockPayment() {
        const url = this.$store.getters['ip/ip'] + '/pay/'
        const status = await axios
          .post(url)
        console.log(status)
        return status
      },
      async getProductData(url) {
        let pro
        const proArray = []
        await axios
          .get(url)
          .then(response => {
            pro = response.data.Products
            return pro
          }).catch(response => console.log('no products'))
          .then((jsonData) => {
            proArray.push(jsonData)
          })
        return {
          pro: proArray[0]
        }
      },
      back_step(current_step){
        this.step = current_step - 1
        if (this.step < 1){
          this.month = null
          this.year = null
          this.card = null
          this.cvv = null
        }
      },
      forward_step(current_step){
        if (current_step === 1){
          if (this.month && this.year && this.card && this.cvv){
            this.step = current_step + 1
          }
        }
      },
      async getAssociationsname() {
        let Assoc
        const AssocArray = []
        await axios
          .get(this.$store.getters['ip/ip'] + '/association/')
          .then(response => {
            Assoc = response.data.Association
            return Assoc
          }).catch(response => console.log('no products'))
          .then((jsonData) => {
            AssocArray.push(jsonData)
          })
        return {
          Assoc: AssocArray[0]
        }
      },
      async payment() {
        if (!this.id || !this.cvv || !this.card || !this.year || !this.month || !this.association) {
          this.errors = []
          this.errors.push('At Least One field is empty')
        } else {
          this.errors = null
          const response = await this.mockPayment()
          console.log(response)
          if (response.status === 202) {
            this.step += 1
            console.log('202 OK')
            // eslint-disable-next-line no-unused-vars
            const order = await this.createOrder()
            this.$router.push('/home')
          }
        }
      },
      myRule(val) {
        if (val === null) {
          return '* Required\n'
        }
      },
      async createOrder() {
        try {
          console.log('this.$q.cookies.get("diaCookie")')
          console.log(Cookies.get('diaCookie'))
          console.log(this.product)
          const params = {
            product_id: this.product.id,
            date: '2019-06-01 12:22',
            buyer_email: this.$store.getters['user/email'],
            seller_email: this.product.seller_email,
            association_username: this.association.username
          }
          console.log(params)
          const status = await axios
            .post(this.$store.getters['ip/ip'] + '/orders/create_order', params)
          console.log(status)
          this.$q.notify({
            color: 'primary',
            position: 'top',
            message: 'רכישה בוצעה בהצלחה'

          })
          return status
        } catch (error) {
          console.log(error)
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'רכישה נכשלה',
            icon: 'report_problem'
          })
        }
      },
      async getAllAssociations() {
        const {Assoc} = await this.getAssociationsname()
        console.log(Assoc)
        let i = 0
        const len = Assoc.length
        while (i < len) {
          this.optionsAssociation.push({name: Assoc[i].name, username: Assoc[i].username})
          i++
        }
      },
      async getProduct(url) {
        console.log('getProduct')
        const {pro} = await this.getProductData(url)
        console.log(pro)
        this.product = pro
      }
    },
    mounted() {
      console.log(this.productId)
      this.getAllAssociations()
      const url = this.$store.getters['ip/ip'] + '/product/' + this.productId
      console.log(url)
      this.getProduct(url)
    },
    computed: {
      step_zero_title() {
        if (this.product){
          let title = "תשלום עבור "
          title += this.product.product_name
          return title
        }
        else{
          return ''
        }
      }
    }
  }
</script>

<style scoped>
  div {
    margin: auto;
  }

  p {
    margin: auto;
  }
</style>
