<template>
  <ProductsCat></ProductsCat>
</template>

<script>
import ProductsCat from "components/ProductsCat";

export default {

  name: "ProductsPage",
  components: {ProductsCat},

}
</script>

<style scoped>

</style>
