<template>
  <div>
<!--    <h1>{{ this.category }}</h1>-->
<!--  <DialogProductsList-->
<!--    :title="this.category"-->
<!--    :requestURL="this.requestURL"-->
<!--  />-->
    <ListProducts
      :title="this.category"
      :requestURL="this.requestURL"
    />
  </div>
</template>

<script>
import DialogProductsList from "../components/DialogProductsList";
import ListProducts from "../components/ListProducts";

export default {
  name: "ProductsListResult",
  components: { ListProducts },
  data() {
    return {
      requestURL: this.$store.getters['search/categoryURL'],
      category: this.$store.getters['search/category']
    }
  }
}
</script>

<style scoped>

</style>
