<template>
  <register reg-title="הרשמה"/>
</template>

<script>
export default {
  name: 'Register',
  components: {
    register: () => import('../components/RegisterComponent')
  }
}
</script>

<style>

</style>
