<template>
  <div dir="rtl" class="full-width row justify-center ">
    <q-form @submit.prevent="report_product" class="q-gutter-sm q-pt-l">
      <q-select :rules="[myRule]"  v-model="report" :options="options" label="דווח על" />
      <q-input v-model="message" filled autogrow type="textarea" label="ספר לנו עוד"></q-input>
      <div>
        <q-btn label="דווח" type="submit" color="primary" />
      </div>
    </q-form>
  </div>
</template>

<script>
import emailjs from 'emailjs-com';

export default {
  name: "ReportProductPage",
  data() {
    return {
      message: '',
      report: null,
      options: [
        'אלים', 'ספאם', 'סוטה', 'מידע שגוי', 'פוגעני','מוכר זדוני'
      ]
    }
  },
  methods: {
    myRule (val) {
      if (val === null) {
        return 'You must make a selection!'
      }
    },
    async report_product() {
      const data = {
        message: "report subject: " + this.report +
                  " report message: " + this.message+
                  " product id: " + this.$route.params.productId,
      }
      emailjs.send('service_u3pr1rf', 'template_o9s1kpd', data, 'user_DBmolTARFrrRL9qyqnJJA')
        .then((result) => {
          console.log('SUCCESS!', result.status, result.text);
          this.$q.notify({
            color: 'orange',
            position: 'top',
            message: 'פנייתך התקבלה בהצלחה',
          })
        }, (error) => {
          console.log('FAILED...', error);
        });

      this.message = ''
      this.report=''

    }
  }
}
</script>

<style scoped>

</style>
