<template>
<div >
  <q-page class="bg-white row justify-center items-center">
    <div class="column">
      <div class="row" dir="rtl">
<!--        <h2 class="text-h4 text-light-blue-10" >העלאת מוצר</h2>-->
      </div>
      <div class="row font-all" >
        <q-card square bordered class="q-pa-lg shadow-1 q-ma-lg">
          <q-card-section>
            <ProductUploadForm/>
          </q-card-section>
        </q-card>
      </div>
      <div/>
    </div>
  </q-page>
</div>
</template>

<script>
import ProductUploadForm from '../components/ProductUploadForm'
export default {
  name: 'UploadProductPage',
  components: { ProductUploadForm }
}
</script>

<style>
.container-form {
  background: white;
  width: 60%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

</style>
