<template>
  <q-page class="q-pt-md">
    <div class="column">
      <div class="row justify-center items-center">
    <q-card class="my-card my-card-user-details shadow-5 bg-grey-3 relative-position">
      <q-card-section>
        <div class="text-h5" dir="rtl">פרטי משתמש</div>
<!--        <div class="text-subtitle2">by John Doe</div>-->
      </q-card-section>
      <q-tabs color="primary" v-model="tab" dir="rtl" class="text-teal">
        <q-tab icon="contact_page" class="text-h6" label="פרטים אישיים" name="one" />
        <q-tab icon="paid" class="text-h6" label="צפייה בתרומות" name="two" />
      </q-tabs>
      <q-separator />
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="one">
          <userDetailsReadOnly  v-if="edit===false" :username="username" :firstName="firstName" :lastName="lastName"
                               :email="email"/>
          <q-card-section v-if="edit===true">
            <q-list dir=rtl class="my-font-cal">
            <q-input
              item-aligned
              dir="rtl"
              name="name"
              v-model="username"
              color="primary"
              label="שם משתמש"
              clearable
              clear-icon="close"
              lazy-rules
              :rules="[ val => val && val.length > 2 || 'מלא בבקשה לפחות 3 תווים']"
            >
            </q-input>
            <q-input
              name="first name"
              v-model="firstName"
              color="primary"
              item-aligned
              label="שם פרטי"
              clearable
              clear-icon="close"
              mask="SSSSSSSSSSSSSSSSSSSS"
              :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
            />
            <q-input
              item-aligned
              name="last name"
              v-model="lastName"
              color="primary"
              label="שם משפחה"
              clearable
              clear-icon="close"
              mask="SSSSSSSSSSSSSSSSSSSS"
              :rules="[ val => val && val.length > 0 || 'מלא בבקשה']"
            />
            <q-input
              item-aligned
              name="email"
              v-model="email"
              color="primary"
              label="כתובת מייל"
              disable
            />
            </q-list>
          </q-card-section>
          <q-card-actions>
            <q-space/>
            <q-btn v-if="edit===true" flat color="primary" label="שמור" @click="save"/>
            <q-btn v-if="edit===false" flat color="dark" outline label="עריכה" @click="editBtn"/>
            <q-btn v-if="edit===true" flat color="dark" label="ביטול" @click="editBtn"/>
          </q-card-actions>
        </q-tab-panel>
        <q-tab-panel name="two"  class="bg-grey-3">
          <DonationsPieChart
          ></DonationsPieChart>
        </q-tab-panel>
      </q-tab-panels>
      </q-card>
      </div>
    </div>
    </q-page>
</template>

<script>
import DonationsPieChart from 'components/DonationsPieChart'
import userDetailsReadOnly from '../components/userDetailsReadOnly'
import axios from 'axios'

export default {
  name: 'UserDetails',

  components: { DonationsPieChart, userDetailsReadOnly },

  data () {
    return {
      tab: 'one',
      currentUsername: '',
      currentFirstName: '',
      currentLastName: '',
      username: '',
      firstName: '',
      lastName: '',
      email: '',
      totalDonation: '',
      products_for_sale: [],
      slide: 1,
      ip: this.$store.getters['ip/ip'],
      expanded: false,
      edit: false
    }
  },
  mounted () {
    this.getUserDetails()
  },
  methods: {
    async getUserDetails () {
      try {
        this.email = this.$store.getters['user/email']
        const response = await axios.get(
          this.$store.getters['ip/ip'] + '/users/' + this.email
        )
        const userData = response.data.User
        const name = userData.name.split(' ')
        this.username = userData.username
        this.currentUsername = this.username
        this.firstName = name[0]
        this.currentFirstName = this.firstName
        this.lastName = name[1]
        this.currentLastName = this.lastName
        this.email = userData.email
        this.totalDonation = userData.total_donation
        this.products_for_sale = userData.products_for_sale
      } catch (error) {
        console.log(error)
      }
    },
    editBtn () {
      if (this.edit === true) {
        this.edit = false
        this.username = this.currentUsername
        this.lastName = this.currentLastName
        this.firstName = this.currentFirstName
      } else {
        this.edit = true
      }
    },
    async save () {
      if (this.edit === true) {
        this.edit = false
      } else {
        this.edit = true
      }
      console.log('username: ' + this.username)
      this.$axios.defaults.withCredentials = true
      await this.$axios
        .patch(this.$store.getters['ip/ip'] + '/users/update',
          {
            email: this.email,
            username: this.username,
            firstName: this.firstName,
            lastName: this.lastName
          })
        .then((response) => {
          this.$q.notify({
            color: 'primary',
            position: 'top',
            message: 'עודכנו פרטים בהצלחה'

          })
          this.currentUsername = this.username
          this.currentLastName = this.lastName
          this.currentFirstName = this.firstName
        }).catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'עדכון נכשל',
            icon: 'report_problem'
          })
        })
    }
  }

}

</script>

<style>
.container {
  background: white;
  width: 40%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

.container-less {
  background: white;
  width: 70%;
  padding: 40px;
  margin: 1px auto;
}

.my-font-cal {
  font-family: Calibri;
  margin-left: 10px;
  right: 350px;
}

.my-card-user-details {
  width: 400px;
  max-width: 500px;
  height: 600px;
  max-height: 800px;
}


</style>

