<template>
  <q-layout view="hHh lpR fff" class="my-font">
    <q-header reveal elevated class="bg-blue-grey-1 text-cyan-8" height-hint="98">
      <q-toolbar>
        <q-toolbar-title style="font-size:30px">
          <q-avatar>
            <img src="./assets/Pictures/logo.png">
          </q-avatar>
          DonateItApp
          <q-breadcrumbs-el icon="search" to="/SearchProducts" />
        </q-toolbar-title>
        <q-breadcrumbs dir="rtl" style="font-size: 20px">
          <q-breadcrumbs-el  class="text-cyan-8" label="עמוד הבית" icon="home" to="/" />
          <q-breadcrumbs-el  v-if="!$root.storeShare.isLoggedIn()" class="text-cyan-8" label="התחברות כתורמים" icon="login" to="/loginUser" />
          <q-breadcrumbs-el  v-if="!$root.storeShare.isLoggedIn()" class="text-cyan-8" label="התחברות כעמותות" icon="login" to="/loginAssoc" />
          <q-breadcrumbs-el  v-if="!$root.storeShare.isLoggedIn()" class="text-cyan-8" label="Register" to="/register" />
          <q-breadcrumbs-el  class="text-cyan-8" label="העמותות" to="/associations" />
          <q-breadcrumbs-el  class="text-cyan-8" label="about" to="/about" />
          <q-breadcrumbs-el  v-if="$root.storeShare.isLoggedIn()" class="text-cyan-8" label="user" to="/user"/>
          <q-breadcrumbs-el v-if="$root.storeShare.isLoggedIn()" class="text-cyan-8" label="upload" to="/uploadProduct"/>
          <q-breadcrumbs-el v-if="$root.storeShare.isAdmin()" class="text-cyan-8" label="Admin Dashboard" to="/admin"/>
          <q-breadcrumbs-el class="text-cyan-8" label="חיפוש עמותות" to="/AssociationsSearch"/>
          <q-btn :ripple="false" @click="refresh" v-if="$root.storeShare.isLoggedIn()" color="secondary" label="Logout" no-caps />
          <q-btn :ripple="false" @click.prevent="firebaseLogOut" color="secondary" label="Firebase Logout" no-caps />
          <q-breadcrumbs-el />

        </q-breadcrumbs>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="bg-blue-grey-2 text-blue-grey-6">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="./assets/Pictures/logo.png">
          </q-avatar>
          DonateItApp
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
import {firebaseAuth, handleAuthChanged, handleRedirectResult, fbLogout} from "./firebase";
import {Loading, LocalStorage} from "quasar";

export default {
  data () {
    return {
      right: false,
      search_query: "",
    };
  },
  mounted() {
    console.log("APP MOUNTED")
    // handleAuthChanged(this)
    handleRedirectResult(this)
  },
  methods:{
    refresh() {
      this.$root.storeShare.logout();
      this.$router.go(0);
    },
    firebaseLogOut(){
      firebaseAuth.signOut()
        .then(() => {
          this.refresh()
          LocalStorage.set('loggedIn', false)
        })
        .catch(err => {
        console.log(err)
      })
    }
  }
}
</script>

<style>
  @font-face {
    font-family: 'AmaticSC';
    src: url('./assets/AmaticSC-Bold.ttf') format('truetype');
  }
  .my-font {
    font-family: 'AmaticSC';
  }

</style>
