<template>
  <div class="fit ">
    <div>
      <q-page class="bg-white row justify-center items-center">
        <div class="column">
          <div class="row">
            <h2 class="text-h4 text-light-blue-10 q-my-md">New Association</h2>
          </div>
          <div class="row font-all">
            <q-card square bordered class="q-pa-lg shadow-1 q-ma-lg">
              <div>
                <q-btn flat disable rounded icon="account_circle" size="lg" label="Association Info"></q-btn>
              </div>
              <q-card-section>
                <q-form @submit.prevent="onRegister" class="q-gutter-md">

                  <div v-for="(record, index) in inputs" :key="index">
                    <q-input square
                             filled
                             clearable
                             :id="record['name']"
                             v-model="outputs[record['name']]"
                             :type="record['type']"
                             :mask="record['mask']"
                             :unmasked-value="record['unmasked']"
                             :rules="record['rules']"
                             :label="record['label']"/>
                  </div>

                  <q-separator/>

                  <div>
                    <q-btn flat disable rounded icon="attach_money" size="lg" label="Bank Information"></q-btn>
                  </div>

                  <div v-for="(b_info, index) in bank_account" :key="index+inputs.length">
                    <q-input v-if="b_info['unmasked']"
                             square
                             filled
                             clearable
                             :id="b_info['name']"
                             v-model="outputs[b_info['name']]"
                             :type="b_info['type']"
                             :mask="b_info['mask']"
                             :rules="b_info['rules']"
                             :unmasked-value="b_info['unmasked']"
                             :label="b_info['label']"/>
                    <q-input v-else
                             square
                             filled
                             clearable
                             :id="b_info['name']"
                             v-model="outputs[b_info['name']]"
                             :type="b_info['type']"
                             :rules="b_info['rules']"
                             :mask="b_info['mask']"
                             :label="b_info['label']"/>
                  </div>

                  <q-card-actions class="q-px-md">
                    <q-btn nelevated color="light-blue-10" size="lg" type="submit" class="full-width my-font"
                           label="Add Association"/>
                  </q-card-actions>
                </q-form>
              </q-card-section>
            </q-card>
          </div>

        </div>
      </q-page>
    </div>
    <q-btn
      outline
      @click="$emit('back-admin')"
      size="md"
      class="q-mt-lg"
      rounded
      label="Back"/>
  </div>
</template>

<script>
  import axios from "axios";

  export default {
    name: 'AddNewAssociation',
    data() {
      return {
        inputs: [
          {
            name: 'username',
            type: 'text',
            mask: 'SSSSSSSS',
            label: 'Username *',
            unmasked: false,
            rules: [this.requiredRule, this.threeChars]
          },
          {
            name: 'name',
            type: 'text',
            mask: 'SSSSSSSSSSSSSSSSSSSS',
            label: 'Association Name *',
            unmasked: false,
            rules: [this.requiredRule, this.threeChars]
          },
          {
            name: 'url',
            type: 'text',
            mask: 'SSSSSSSSSSSSSSSSSSSS.com',
            label: 'Website *',
            unmasked: false,
            rules: [this.requiredRule, this.threeChars]
          },
          {
            name: 'password',
            type: 'password',
            mask: '',
            label: 'password *',
            unmasked: false,
            rules: [this.requiredRule, this.threeChars]
          },
          {
            name: 'confirmPassword',
            type: 'password',
            mask: '',
            label: 'Confirm password *',
            unmasked: false,
            rules: [this.requiredRule, this.threeChars]
          },
          {
            name: 'email',
            type: 'email',
            mask: 'SSSSSSSS@SSSSS.SSS',
            label: 'email *',
            unmasked: false,
            rules: [this.requiredRule, this.threeChars]
          },
          {
            name: 'activity',
            type: 'text',
            label: 'Association Activities*',
            rules: [this.requiredRule]
          },
          {
            name: 'description',
            type: 'text',
            label: 'Description*',
            rules: [this.requiredRule]
          },
          {
            name: 'phone_number',
            type: 'text',
            mask: '(###) ### - ####',
            unmasked: true,
            label: 'Phone Number',
            rules: [this.requiredRule]
          },
        ],
        outputs: {
          email: '',
          confirmPassword: '',
          password: '',
          url: '',
          name: '',
          username: '',
          activity: '',
          description: '',
          phone_number: '',
          branch_number: '',
          account_number: '',
          bank_name: '',
          bank_number: ''
        },
        bank_account: [
          {
            name: 'branch_number',
            type: 'text',
            mask: '####',
            unmasked: true,
            label: 'Branch Number*',
            rules: [this.requiredRule]
          },
          {
            name: 'account_number',
            type: 'number',
            label: 'Account Number*',
            rules: [this.requiredRule]
          },
          {
            name: 'bank_name',
            type: 'text',
            label: 'Account Name*',
            rules: [this.requiredRule]
          },
          {
            name: 'bank_number',
            type: 'number',
            label: 'Bank Number*',
            rules: [this.requiredRule]
          }
        ]
      }
    },

    methods: {
      requiredRule(val) {
        // simulating a delay
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            resolve(!!val || '* Required')
          }, 1000)
        })
      },
      threeChars(val) {
        // simulating a delay
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            if (val) {
              resolve(val.length > 2 || 'Please type at least 3 characters')
            } else {
              resolve(false)
            }
          }, 1000)
        })
      },
      sixChars(val) {
        // simulating a delay
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            resolve(val.length > 5 || 'Please type at least 6 characters')
          }, 1000)
        })
      },
      match(val) {
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            resolve(val === this.password || 'not match password')
          }, 1000)
        })
      },
      async Register() {
        try {
          // eslint-disable-next-line camelcase
          console.log(this.outputs)

          this.outputs['bank_account'] = {
            'branch_number': this.outputs['branch_number'],
            'account_number': this.outputs['account_number'],
            'bank_name': this.outputs['bank_name'],
            'bank_number': this.outputs['bank_number']
          }
          const bank_info_keys = this.bank_account.map(info => String(info['name']))
          let assc_data = {}
          for (var key in this.outputs){
            if (!(String(key) in bank_info_keys)){
              assc_data[key] = this.outputs[key]
            }
          }

          console.log(assc_data)
          const response = await axios.post(
            this.$store.getters['ip/ip'] + 'admin/association/register_association',
            assc_data
          )
          await this.$router.go(0)
          console.log('response:')
          console.log(response)
        } catch (err) {
          console.log(err)
          console.log(err.response)
        }
      },
      onRegister() {
        console.log('register method called')
        console.log('register method go')

        this.Register()
      }
    }
  }
</script>

<style scoped>

</style>
