<template>
  <div>
    <h2>View Associations Donations</h2>
    <h5>Choose Association</h5>
    <div class="fit row justify-center">
      <q-select
        filled
        class="q-mx-md"
        v-model="selectedAssociations"
        :options="ascNameArr"
        style="width: 250px"
      />
    </div>
    <template>
      <div class="q-pa-md" v-if="selectedAssociations">
        <q-table
          title="Donations"
          :data="getDonations"
          :columns="columns"
          row-key="name"
          hide-no-data
        >
          <template v-slot:top>
            <img
              style="height: 80px; width: 80px"
              :src="getAscImgLink"
            >

            <q-space />

            <div class="text-h4">
              סך הכל: {{getTotalDonations}}
            </div>
          </template>

          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                <div class="text-h5">
                  {{ col.label }}
                </div>
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="buyer" :props="props" >
                <q-badge color="teal" class="text-h6">
                  {{ props.row.buyer }}
                </q-badge>
              </q-td>
              <q-td key="seller" :props="props">
                <q-badge color="indigo-6" class="text-h6">
                  {{ props.row.seller }}
                </q-badge>
              </q-td>
              <q-td key="price" :props="props">
                <q-badge color="green" class="text-h6">
                  {{ props.row.price }}
                </q-badge>
              </q-td>
              <q-td key="product_name" :props="props">
                <q-badge color="orange" class="text-h6">
                  {{ props.row.p_name }}
                </q-badge>
              </q-td>
            </q-tr>
          </template>

        </q-table>
      </div>
    </template>
    <q-btn
      outline
      @click="$emit('back-admin')"
      size="md"
      class="q-mt-lg"
      rounded
      label="Back"/>
  </div>
</template>

<script>

  export default {
    name: "ViewAscDonations",
    data () {
      return {
        allAssociationsArr: [],
        allAdmins: [],
        selectedAssociations: '',
        columns: [
          {
            name: 'buyer',
            required: true,
            label: 'הקונה',
            align: 'left',
            field: row => row.buyer,
            format: val => `${val}`,
            sortable: true
          },
          {
            name: 'seller',
            required: true,
            label: 'המוכר',
            align: 'left',
            field: row => row.seller,
            format: val => `${val}`,
            sortable: true
          },
          {
            name: 'price',
            required: true,
            label: 'סכום',
            align: 'left',
            field: row => row.price,
            format: val => `${val}`,
            sortable: true
          },
          {
            name: 'product_name',
            required: true,
            label: 'המוצר',
            align: 'left',
            field: row => row.p_name,
            format: val => `${val}`,
            sortable: true
          },
        ]

      }
    },
    computed: {
      ascNameArr() {
        let newArr = this.allAssociationsArr.map(asc => {
          let optionAsc = {}
          optionAsc['label'] = asc.name
          optionAsc['value'] = asc.email
          return optionAsc
        })
        console.log("Getting Asc Map")
        console.log(newArr)
        return newArr
      },
      getDonations(){
        let asc = this.allAssociationsArr.filter((asc) => asc.email === this.selectedAssociations.value)[0]
        return asc['donations_list']
      },
      getTotalDonations(){
        let asc = this.allAssociationsArr.filter((asc) => asc.email === this.selectedAssociations.value)[0]
        return asc['donations']
      },
      getAscImgLink(){
        let asc = this.allAssociationsArr.filter((asc) => asc.email === this.selectedAssociations.value)[0]
        return asc['image'][0]
      }
    },

    mounted () {
      this.allAssociations()
    },
    methods: {
      allAssociations () {
        this.$api.get(this.$store.getters['ip/ip'] + '/association/').then((response) => {
          console.log(response.data)
          const data = response.data
          this.allAssociationsArr = data.Association
        })
          .catch((err) => {
            console.log(err)
          })
      }
    }
  }
</script>

<style scoped>

</style>
