<template>
  <div class="contents-less">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1>{{Associations.name}}</h1>
    <h4>תחום הפעילות של העמותה</h4>
    <h5>{{Associations.activity}}</h5>
    <h4>על העמותה</h4>
    <h5> {{Associations.description}}</h5>
    <h4>צור קשר</h4>
    <h5><i class="fa fa-envelope" style="font-size:30px"></i> {{Associations.email}}</h5>
    <h5><i class="fa fa-phone" style="font-size:30px"></i> {{Associations.phone_number}}</h5>
    <h5><i class='fa fa-globe' style='font-size:30px'></i> {{Associations.url}}</h5>
    <div class="col-10 col-md" v-for="(p, index) in Associations.image"
         :key="index">
      <img :src="p" width="300px" height="300px">
    </div>
    <div style="margin-right: auto; margin-left: auto">
      <h3>אירועים קרובים</h3>
      <div v-if="events_list.length !== 0">
        <div v-for="(e, index) in events_list" :key="index">
          <Event :event="e"/>
        </div>
      </div>
      <div v-if="events_list.length === 0">
        <h4>לא נמצאו אירועים קרובים</h4>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Event from "components/Event";
async function getEventsData (url) {
  let events
  const EventsArray = []
  console.log('getEventsData')
  await axios
    .get(url)
    .then(response => {
      events = response.data.Event
      console.log('events answer')
      console.log(response)
      return events
    }).catch(response => console.log('no Association'))
    .then((jsonData) => {
      EventsArray.push(jsonData)
    })
  return {
    events: EventsArray[0]
  }
}

async function getAssociationsData (url) {
  let Assoc
  const AssociationArray = []
  await axios
    .get(url)
    .then(response => {
      Assoc = response.data.Association
      console.log(Assoc)
      return Assoc
    }).catch(response => console.log('no Association'))
    .then((jsonData) => {
      AssociationArray.push(jsonData)
    })
  return {
    Assoc: AssociationArray[0]
  }
}
export default {

  name: 'Association',
  components: { Event },
  props: {
    url: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      events_list : [],
      Associations: [],
      askDone: false
    }
  },
  methods: {
    async updateAssociations () {
      console.log('updateAssociations')
      console.log('url')
      console.log(this.url)
      this.askDone = false
      const { Assoc } = await getAssociationsData(this.url)
      console.log(Assoc)
      this.askDone = true
      this.Associations = Assoc
      console.log(this.Associations)
    },
    async updateEvents () {

      const url = this.$store.getters['ip/ip'] + '/association/event/' + this.Associations.email
      const { events } = await getEventsData(url)
      this.events_list = events
      console.log("this.events_list")
      console.log(this.events_list)
    }
  },
  async mounted () {
    console.log('mounted')
    await this.updateAssociations()
    await this.updateEvents()

  },
  watch: {
    url: function () {
      this.updateAssociations()
    }
  }
}
</script>

<style scoped>
h1,h5,h6{
  text-align: center;

}
h4{
  text-align: right;
}
.contents-less {
  background: white;
  width: 85%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 0px;
}
</style>
