<template>
  <q-card-section>
    <h5 class="text-orange-9" dir="rtl">פרטי עמותה:</h5>
    <q-input
      name="name"
      v-model="name"
      color="primary"
      label="שם העמותה"
      readonly
    />
    <q-input
      name="name"
      v-model="username"
      color="primary"
      label="שם משתמש"
      readonly
    />
    <q-input
      name="activity"
      v-model="activity"
      color="primary"
      label="תחום פעילות העמותה"
      readonly
    />
    <q-input
      name="description"
      v-model="description"
      color="primary"
      label="תיאור העמותה"
      readonly
    />
    <q-input
      name="url"
      v-model="url"
      color="primary"
      label="כתובת אתר העמותה"
      readonly
    />
    <q-input
      name="phone_number"
      v-model="phone_number"
      color="primary"
      label="מספר טלפון"
      readonly
    />
    <q-input
      name="bankName"
      v-model="bankName"
      color="primary"
      label="שם הבנק"
      readonly
    />
    <q-input
      name="bankNumber"
      v-model="bankNumber"
      color="primary"
      label="מספר הבנק"
      readonly
    />
    <q-input
      name="brunchNumber"
      v-model="brunchNumber"
      color="primary"
      label="מספר סניף"
      readonly
    />
    <q-input
      name="accountNumber"
      v-model="accountNumber"
      color="primary"
      label="מספר חשבון"
      readonly
    />
    <q-input
      name="email"
      v-model="email"
      color="primary"
      label="email"
      readonly
    />
    <q-input
      name="donations"
      v-model="donations"
      color="primary"
      label="סכום התרומות"
      readonly
    />
  </q-card-section>
</template>

<script>
export default {
  name: 'AssociationDetailsReadOnly',
  props: {
    username: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    activity: {
      type: String,
      required: true
    },
    donations: {
      type: Number,
      required: true
    },
    description: {
        type: String,
        required: true
      },
    url: {
        type: String,
        required: true
      },
    phone_number: {
        type: String,
        required: true
      },
    bankName: {
        type: String,
        required: true
      },
    bankNumber: {
        type: String,
        required: true
      },
    brunchNumber: {
        type: String,
        required: true
      },
    accountNumber: {
        type: String,
        required: true
      },
    email: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
