<template>
    <div class="row" dir="rtl">
      <div>
        <div class="text-h6">סינון</div>
        <q-option-group
                      :change="select()"
                      @click="select()"
                      v-model="selection"
                      :options="options"
                      color="amber-5"
                      type="checkbox"
      />
      </div>
     <div class="q-pa-lg">
    <DialogAssociationsList :requestURL="assoc"/>
    </div>
    </div>

</template>

<script>
import DialogAssociationsList from "../components/DialogAssociationsList";

export default {
  name: 'AssociationsSearch',
  components: {DialogAssociationsList},
  data() {
    return {
      assoc: '',
      selection: [],
      options: [
        {
          label: 'כוחות הבטחון',
          value: 'כוחות הבטחון'
        },
        {
          label: 'חינוך והסברה',
          value: 'חינוך והסברה'
        },
        {
          label: 'רווחה',
          value: 'רווחה'
        },
        {
          label: 'שיוויון מגדרי',
          value: 'שיוויון מגדרי ומאבק באלימות נגד נשים'
        },
        {
          label: 'ילדים ונוער בסיכון',
          value: 'ילדים ונוער בסיכון'
        }
      ],
      isSelected: false
    }
  },
  mounted() {
    console.log("Mounted")
  },
  methods: {
    select() {
      if (this.selection.length > 0) {
        this.isSelected = true
        let queryArray = [];
        let query = '';
        if (this.isSelected) {
          queryArray = this.selection
          console.log(queryArray)
        }
        for (let i in queryArray) {
          if (i === '0') {
            query = queryArray[i];
          } else {
            query = query + '&' + queryArray[i];
          }
        }
        if (query) {
          console.log(query)
          this.assoc = this.$store.getters['ip/ip'] + '/association/get_associations_by_category/' + query;
        }
      } else {
        this.isSelected = false
        this.assoc = this.$store.getters['ip/ip'] + '/association/'
      }

    }
  }
}
</script>

<style scoped>

</style>
