<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-event" >

      <q-item-section class="rtl" >
        <div style="margin-right: auto; margin-left: auto">
          <div v-if="events_list.length !== 0">
            <div v-for="(e, index) in events_list" :key="index">
              <Event :event="e"/>
            </div>
          </div>
        </div>
      </q-item-section>

        </q-card>

    <q-card class="my-card" dir="rtl">
    <q-img :src="Associations.image[0]" basic>
      <div class="absolute-bottom text-h10 glossy" dir="rtl">
        {{Associations.activity}}
      </div>
    </q-img>
    <q-item-section class="rtl" >
      <q-item>
<!--            <q-btn flat color="primary" icon="link" @click="openTheUrl(Associations.url)"/>-->
        <q-item
          tag="a"
          :href="Associations.url"
          clickable>
          <q-item-section avatar>
            <q-icon name="link" color="primary" />
          </q-item-section>
        </q-item >
        <q-item
          tag="a"
          :href="'mailto:'+Associations.email"
          clickable>
          <q-item-section avatar>
            <q-icon name="mail" color="blue" />
          </q-item-section>
        </q-item >
        <q-item clickable @click="showNumber">
          <q-item-section avatar>
          <q-icon name="call" color="deep-orange" />
          </q-item-section>
        </q-item>
        <q-item-section>
          <div v-if="showNumberFlag" class="top text-h8" >
            {{Associations.phone_number}}
          </div>
        </q-item-section>

<!--        <q-item>-->
<!--            clickable-->
<!--            @click="showNumber">-->
<!--          <q-item-section>-->
<!--          </q-item-section>-->
<!--        </q-item >-->
      </q-item>
    </q-item-section>
    <q-card-section dir="rtl">
      {{Associations.description}}
    </q-card-section>
  </q-card>
  </div>
</template>

<script>
import axios from 'axios'
import { openURL } from 'quasar'
import Event from "components/Event";

async function getEventsData (url) {
  let events
  const EventsArray = []
  console.log('getEventsData')
  await axios
    .get(url)
    .then(response => {
      events = response.data.Event
      console.log('events answer')
      console.log(response)
      return events
    }).catch(response => console.log('no Association'))
    .then((jsonData) => {
      EventsArray.push(jsonData)
    })
  return {
    events: EventsArray[0]
  }
}

async function getAssociationsData (url) {
  let Assoc
  const AssociationArray = []
  await axios
    .get(url)
    .then(response => {
      Assoc = response.data.Association
      console.log(Assoc)
      return Assoc
    }).catch(response => console.log('no Association'))
    .then((jsonData) => {
      AssociationArray.push(jsonData)
    })
  return {
    Assoc: AssociationArray[0]
  }
}
export default {

  name: 'AssociationComponent',
  components: { Event },
  props: {
    url: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      events_list : [],
      Associations: [],
      askDone: false,
      showNumberFlag:false
    }
  },
  methods: {
    async showNumber(){
      if(this.showNumberFlag){
        this.showNumberFlag = false
        return
      }
      this.showNumberFlag=true
      console.log("showNumberFlag")
      console.log(this.showNumberFlag)
    },
    async openTheUrl(link){
      openURL(link)
    },
    async updateAssociations () {
      console.log('updateAssociations')
      console.log('url')
      console.log(this.url)
      this.askDone = false
      const { Assoc } = await getAssociationsData(this.url)
      console.log(Assoc)
      this.askDone = true
      this.Associations = Assoc
      console.log(this.Associations)
    },
    async updateEvents () {

      const url = this.$store.getters['ip/ip'] + '/association/event/' + this.Associations.email
      const { events } = await getEventsData(url)
      this.events_list = events
      console.log("this.events_list")
      console.log(this.events_list)
    }
  },
  async mounted () {
    console.log('mounted')
    await this.updateAssociations()
    await this.updateEvents()

  },
  watch: {
    url: function () {
      this.updateAssociations()
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 440px
  position: center
  padding: -0.5px
  margin: 1px auto

.my-event
  width: 100%
  max-width: 300px
  position: center
  padding: -0.5px
  margin: 1px auto
</style>
