<template>
  <q-card-section>
    <h5 class="text-orange-9" dir="rtl">הוספת אירוע:</h5>
    <q-input
      name="name"
      v-model="name"
      color="primary"
      label="שם העמותה"
      readonly
    />
    <q-input
      name="email"
      v-model="email"
      color="primary"
      label="email"
      readonly
    />

    <q-input
      mask="####-##-##"
      class="full-width"
      v-model="date"
      rounded
      outlined
      type="date"
      label="תאריך האירוע"
      stack-label
      readonly
    />
    <q-input
      name="description"
      v-model="description"
      color="primary"
      label="תיאור האירוע"
      readonly
    />
  </q-card-section>
</template>

<script>
export default {
  name: 'AssociationAddEventReadOnly',
  props: {
    name: {
      type: String,
      required: true
    },
    date: {
      type: Date,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
