<template>
  <div>
    <h2>Delete Association</h2>
    <h5>Select Associations to delete</h5>
    <!--    <p v-for="(user, index) in allUsersArr" :key="index">{{user.email}}</p>-->
    <!--    <p v-for="(admin, index) in allAdmins" :key="index">{{admin.email}}</p>-->
    <div class="fit row justify-center">
      <q-select
        filled
        class="q-mx-md"
        v-model="selectedAssociations"
        :options="ascNameArr"
        style="width: 250px"
      />
      <q-btn rounded outline @click="deleteAsc">Delete Association</q-btn>
    </div>
    <q-btn
      outline
      @click="$emit('back-admin')"
      size="md"
      class="q-mt-lg"
      rounded
      label="Back"/>
  </div>
</template>

<script>

    export default {
        name: "DeleteAssociation",
      data () {
        return {
          allAssociationsArr: [],
          allAdmins: [],
          selectedAssociations: ''
        }
      },
      computed: {
          ascNameArr() {
            let newArr = this.allAssociationsArr.map(asc => {
              let optionAsc = {}
              optionAsc['label'] = asc.name
              optionAsc['value'] = asc.email
              return optionAsc
            })
            console.log("Getting Asc Map")
            console.log(newArr)
            return newArr
          }
      },
      mounted () {
        this.allAssociations()
      },
      methods: {
        allAssociations () {
          this.$api.get(this.$store.getters['ip/ip'] + '/association/').then((response) => {
            console.log(response.data)
            const data = response.data
            this.allAssociationsArr = data.Association
          })
            .catch((err) => {
              console.log(err)
            })
        },
        deleteAsc () {
          let ascEmail = this.selectedAssociations.value
          this.$api.delete(this.$store.getters['ip/ip'] + '/admin/delete/association/' + ascEmail)
            .then(resp => {
              console.log(resp)
              this.$router.go(0)
            })
            .catch(err => {
              console.log(err)
            })
        }
      }
    }
</script>

<style scoped>

</style>
