<template>
  <div>
    <h2>Delete User</h2>
    <h5>Select User to delete</h5>
    <div class="fit row justify-center">
      <q-select
        filled
        class="q-mx-md"
        v-model="selectedUsers"
        multiple
        :options="allUsersArr"
        style="width: 250px"
      />
      <q-btn rounded outline @click="openTheDialog">Delete Users</q-btn>
    </div>
    <confirm-dialog
      iconName="delete"
      :show="openDialog"
      iconColor="negative"
      question="Are you sure you wish to delete:"
      :objectArray="selectedUsers"
      confirmLabel="Confirm"
      cancelLabel="Cancel"
      @cancel="openDialog = false"
      @confirm="deleteUsers"
    />
    <q-btn
      outline
      @click="$emit('back-admin')"
      size="md"
      class="q-mt-lg"
      rounded
      label="Back"/>
  </div>
</template>

<script>

  export default {
    name: "DeleteUser",
    components: {
      ConfirmDialog: () => import('../components/ConfirmDialog')
    },
    data() {
      return {
        allUsersArr: [],
        selectedUsers: [],
        openDialog: false
      }
    },

    mounted() {
      this.allUsers()
    },
    methods: {
      openTheDialog() {
        if (this.selectedUsers.length > 0)
        {
          this.openDialog = true
        }
      },
      allUsers() {
        this.$api.get(this.$store.getters['ip/ip'] + '/admin/').then((response) => {
          console.log(response.data)
          let data = response.data
          this.allUsersArr = data['Users'].map(user => user.email)
          this.allAdmins = data['Admins'].map(user => user.email)
        })
          .catch((err) => {
            console.log(err)
          })
      },
      async deleteUsers() {
        this.openDialog = false
        await this.selectedUsers.forEach((user) => {
          this.$api.delete(this.$store.getters['ip/ip'] + '/admin/delete/' + user)
            .then(resp => {
              console.log(resp)
            })
            .catch(err => {
              console.log(err)
            })
        })

        this.$router.go(0)

      }
    }
  }
</script>

<style scoped>

</style>
