<template>
  <div class="font-img">
    <q-card class="my-card my-card-pre">
      <q-img :src="associations.image"
             class="grab"
             @click="card = true"
             style="height: 200px; max-width: 300px"

      />
      <q-card-section>
        <div class="text-h6">{{associations.name}}</div>
        <div class="text-subtitle2">{{associations.activity}}</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
<!--        {{associations.description}}-->
      </q-card-section>
    </q-card>

    <q-dialog v-model="card" dir="rtl">
      <q-card class="my-card my-card-open">
        <q-img :src="associations.image"/>
        <q-card-section>
          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">
              {{ associations.name }}
            </div>

          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="text-subtitle1">
            {{associations.activity}}
          </div>
          <div class="text-caption text-grey">
            {{associations.description}}
          </div>
        </q-card-section>

        <q-separator/>

        <q-card-actions align="right">
          <q-btn v-close-popup flat color="primary" label="תרמו עכשיו"/>
          <q-btn v-close-popup flat color="primary" label="תצוגה מלאה" :to="associationUrl"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'DialogAssociations',
  props: {
    associations: Object
  },
  data () {
    return {
      justMounted: true,
      card: false
    }
  },
  created () {
    console.log('DialogAssociations created')
  },
  computed: {
    associationUrl () {
      return '/AssociationPage/' + this.associations.username
    }
  }
}

</script>

<style  scoped>
.grab {
  cursor: grab;
}

/* Solve problem where border size changes on hover */

.grab:hover {
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color:  #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.font-img{
  font-family: Calibri;
}

.my-card-pre {
  width: 250px;
}

.my-card-open {
  width: 350px;
}
</style>
