<template>
  <div>
  <div class="frame-cat shadow-7 text-center text-h5 col-12"
  style="max-width: 425px">
    <q-img
      v-if="product.image.length > 0"
      class="img-border"
      :src="product.image[0]"
      style="height: 225px; max-width: 425px"
      basic
      spinner-color="white"
      @click="card = true"
    >
    </q-img>
    <q-img
        v-else
        class="img-border"
        src= '../assets/Pictures/no_image.png'
        style="height: 225px; max-width: 425px"
        basic
        spinner-color="white"
        @click="card = true"
      >
    </q-img>
    <p/>
    {{ product.product_name }}

    <q-dialog v-model="card">
      <q-card class="my-card q-card-product">
        <q-img v-if="product.image.length<1" src="../assets/Pictures/no_image.png"/>
        <q-carousel
          v-else
          swipeable
          animated
          arrows
          v-model="slide"
          infinite
          control-color="primary"
        >
          <q-carousel-slide v-for="(p, index) in product.image" :key="index" :name="index" :img-src="p">
          </q-carousel-slide>
        </q-carousel>
        <q-card-section>
          <q-btn
            fab
            color="primary"
            icon="place"
            class="absolute"
            style="top: 0; right: 12px; transform: translateY(-50%);"
            @click="popup()"
          />

          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">
              {{ product.product_name }}
            </div>
            <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
              <q-icon name="place"/>
              {{product.city}}
            </div>
          </div>
          <q-separator/>
<!--          <q-rating v-model="stars" :max="5" size="32px"/>-->
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="text-subtitle1">
            {{product.main_category}}
          </div>
          <div class="text-caption text-grey">
            {{product.description}}
          </div>
          <q-btn @click="changeShow" outline round color="primary" icon="phone" />
          <div v-if="show" class="text-caption">
            {{product.phone_number}}
          </div>
        </q-card-section>

        <q-separator/>

        <q-card-actions align="right">
          <q-btn outline flat color="primary" label="דווח" icon="warning" :to="reportUrl"></q-btn>
          <q-btn v-show="hasCookie" v-close-popup flat color="primary" label="רכישה" :to="paymentUrl"/>
          <q-btn v-show="!hasCookie" flat color="primary" label="רכישה" @click="alert = true"/>
          <q-btn v-close-popup flat color="primary" label="תצוגה מלאה" :to="productUrl" />
<!--          <q-btn v-close-popup flat color="primary" round icon="event"/>-->

        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
    <q-dialog v-model="alert">
      <q-card style="width: 400px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Alert</div>
        </q-card-section>

        <q-card-section dir="rtl" class="q-pt-none">
          לצערנו רק משתמשים המחוברים לאתר יכולים לבצע רכישה
          <p/>
          <p class="text-grey-6" dir="rtl"> רשום?  <router-link to="/loginUser"> התחבר לאתר </router-link></p>

          <p class="text-grey-6" dir="rtl">לא רשום?  <router-link to="/register"> תיצור חשבון לאתר </router-link></p>

        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { Cookies } from 'quasar'
// import axios from 'axios'
export default {
  name: 'DialogProduct',
  props: {
    product: Object
  },
  data () {
    return {
      justMounted: true,
      card: false,
      place: this.product.city,
      stars: 3,
      show: false,
      alert: false,
      slide: 0
    }
  },
  created () {
    // console.log('created')
  },
  computed: {
    productUrl () {
      return '/product/' + this.product.id
    },
    paymentUrl () {
      return '/payment/' + this.product.id
    },
    reportUrl () {
      return '/report/' + this.product.id
    },
    hasCookie () {
      return this.$store.getters['user/user']
    }
  },
  methods: {
    popup () {
      const route = ({ path: 'https://www.google.com/maps/place/' + this.place })
      // let route = this.$router.resolve('/link/to/page'); // This also works.
      window.open(route.path, '_blank')
    },
    changeShow () {
      if(this.show){
        this.show = false
        return
      }
      this.show = true
    }
  }
}

</script>

<style>
.grab {cursor: grab;
  }

/* Solve problem where border size changes on hover */

.grab:hover {
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color:  #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.font-img{
  font-family: Calibri;
}
.q-card-product {
  width: 360px;
}

.frame-cat{
  border-style: ridge;
}

.frame-cat:hover {
  color: #063A8F;
  text-shadow:0px 0px 1px #063A8F;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 0px 3px 0px rgb(190, 163, 31);
  -moz-box-shadow:    0px 0px 3px 0px rgb(43, 100, 172);
  box-shadow:         0px 0px 3px 0px rgba(43, 100, 172, 0.67);}


.img-border {
  border: 0.3px solid #868688;
}

</style>
