<template>

  <div v-show="askDone">
    <div class="text-h4" dir="rtl" v-if="productslist.length > 0">{{title}}</div>
      <div class="text-center items-center justify-center q-pa-md row items-start" v-for="(group, i) in productsGroups" :key="group">
        <div class="col-12 items-center justify-center q-pa-md col-md" v-for="(p, index) in productslist.slice(i * productsPerRow, (i+1) * productsPerRow)"
             :key="index">
          <DialogProduct :product="p"/>
        </div>
      </div>
  </div>

</template>

<script>
import DialogProduct from 'components/DialogProduct'
// import { api } from 'boot/axios'
// async function getProductData (url) {
//   let pro
//   const proArray = []
//   // console.log('getProductData')
//   await api
//     .get(url)
//     .then((response) => {
//       this.data = response.data.Product
//       pro = this.data
//       return pro
//     }).catch(() => {
//       this.$q.notify({
//         color: 'negative',
//         position: 'top',
//         message: 'Loading failed',
//         icon: 'report_problem'
//       })
//     })
//     .then((jsonData) => {
//       proArray.push(jsonData)
//     })
//   return {
//     pro: proArray[0]
//   }
// }
export default {
  name: 'DialogProductsList',
  components: { DialogProduct },
  props: {
    requestURL: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      products: ['test', 'test', 'test'],
      productslist: [],
      askDone: false,
      productsPerRow: 3,
      slide: 1,
      autoplay: true
    }
  },
  methods: {
    async updateProducts () {
      console.log("updateProducts")
      this.askDone = false
      let pro
      const proArray = []
      console.log(this.requestURL)
      return await this.$axios
        .get(this.requestURL)
        .then((response) => {
          pro = response.data.Product
          this.data = response.data.Product
          return pro
        }).catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
        .then((jsonData) => {
          this.productslist = []
          proArray.push(jsonData)
          pro = proArray[0]
          this.askDone = true
          this.productslist.push(...pro)
          if(this.productslist.length === 0){
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: 'לא נמצאו מוצרים',
            })

          }
        })
    }
  },
  mounted () {
    console.log("dialog mounted")
    console.log(this.requestURL)
    this.updateProducts()
  },
  watch: {
    requestURL: async function () {
      await this.updateProducts()
    }
  },
  computed: {
    productsGroups () {
      return Array.from(Array(Math.ceil(this.productslist.length / this.productsPerRow)).keys())
    }
  }
}
</script>

<style lang="scss">

</style>
