

<template>
  <div v-show="askDone">
    <div class="q-pa-md row items-start q-gutter-md" dir="rtl" v-for="i in Math.ceil(this.Associations.length / this.AssociationsPerRow)" :key="i">
      <div v-for="(a, index) in Associations.slice((i-1) * AssociationsPerRow, (i) * AssociationsPerRow)"
           :key="index">
        <DialogAssociations :associations="a"/>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import DialogAssociations from 'components/DialogAssociations'

async function getAssociationsData(url) {
  let Assoc
  const AssociationArray = []
  console.log('getAssociationsData')
  await axios
    .get(url)
    .then(response => {
      Assoc = response.data.Association
      return Assoc
    }).catch(response => console.log('no Association'))
    .then((jsonData) => {
      AssociationArray.push(jsonData)
    })
  return {
    Assoc: AssociationArray[0]
  }
}

export default {
  name: 'DialogAssociationsList',
  components: {DialogAssociations},
  props: {
    requestURL: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      Associations: [],
      askDone: false,
      AssociationsPerRow: 3,
      slide: 1,
      autoplay: true
    }
  },
  methods: {
    async updateAssociations() {
      console.log(this.requestURL)
      this.askDone = false
      const {Assoc} = await getAssociationsData(this.requestURL)
      this.askDone = true
      this.Associations = Assoc
    }
  },
  mounted() {
    console.log('mounted')
    this.updateAssociations()
  },
  watch: {
    requestURL: function () {
      this.updateAssociations()
    }
  },
  computed: {
    AssociationsGroups() {
      return Array.from(Array(Math.ceil(this.Associations.length / this.AssociationsPerRow)).keys())
    }
  }
}
</script>

<style lang="sass" scoped>

div
  justify-content: center

</style>
