<template>
  <div>
    <q-card-section>
    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
  <div v-if="showSimulatedReturnData">
  <div v-if="this.data.length > 0">
    <PieChart
     :data="this.data" :labels="this.labels"
    />
  </div>
  <div dir="rtl" class="q-pt-xl" v-else>
    אין תרומות שבוצעו
  </div>
  </div>
    </transition>
    </q-card-section>
  <q-inner-loading :showing="visible" class="q-pt-sm bg-grey-3">
    <q-spinner-gears size="80px" color="primary" />
  </q-inner-loading>
  </div>
</template>

import DonationsUser from '../components/DonationsUser'

<script>

import PieChart from "components/PieChart";

export default {
  name: 'UserAssociationsDonations',
  components: { PieChart },
  data () {
    return {
      allData: [],
      data: [],
      labels: [],
      email: '',
      visible: true,
      showSimulatedReturnData: false
    }
  },
  mounted () {
    this.get_donations()
  },
  methods: {
    async get_donations () {
      this.email = this.$store.getters['user/email']
      const response = await this.$axios.get(
        this.$store.getters['ip/ip'] + '/users/get_donations/' + this.email
      )
      console.log(response)
      const donation = response.data.Donation
      for (let index = 0; index < donation.length; index++) {
        this.labels.push(JSON.parse(JSON.stringify(donation[index].name)))
        this.data.push(JSON.parse(JSON.stringify(donation[index].total)))
        this.allData.push(donation[index])
      }
      this.showTextLoading()

    },
    showTextLoading () {
      this.visible = true
      this.showSimulatedReturnData = false
      setTimeout(() => {
        this.visible = false
        this.showSimulatedReturnData = true
      }, 2000)
    }
  }
}
</script>

<style >

</style>
