<template>
  <div dir="rtl" class="q-pa-md">
    <q-carousel
      v-model="slide"
      transition-prev="slide-right"
      transition-next="slide-left"
      swipeable
      animated
      control-color="primary"
      navigation
      padding
      arrows
      height="300px"
      v-show="askDone"
    >
<!--      <div class="q-pa-xs calibri-font" v-for="(e, index) in events_list"-->
<!--           :key="index">-->
<!--        <Event :event="e"/>-->
<!--      </div>-->

      <q-carousel-slide v-for="(group, i) in productsGroups" :key="group" :name="i+1">
            <div  class="items-center justify-center row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
            <div  class="items-center justify-center row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap"  v-for="(e, index) in events_list.slice(i * maxPerRow, (i+1) * maxPerRow)" :key="index">
              <Event :event="e"/>
            </div>
            </div>

      </q-carousel-slide>
    </q-carousel>


  </div>
</template>

<script>
import Event from 'components/Event'
import axios from "axios";

async function getEventsData (url) {
  let events
  const EventsArray = []
  console.log('getEventsData')
  await axios
    .get(url)
    .then(response => {
      events = response.data.Event
      console.log('events answer')
      console.log(response)
      return events
    }).catch(response => console.log('no Association'))
    .then((jsonData) => {
      EventsArray.push(jsonData)
    })
  return {
    events: EventsArray[0]
  }
}

export default {
  name: 'Events',
  components: { Event},
  props: {
    url: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      events_list : [],
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2
      },
      maxPerRow: 4,
      slide: 1,
      askDone: false
    }

  },
  methods: {
    async updateEvents () {
      console.log(this.url)
      const { events } = await getEventsData(this.url)
      this.events_list = events
      this.askDone = true

    }
  },
  mounted () {
    console.log('mounted')
    if (this.$q.platform.is.mobile)
    {
      this.maxPerRow = 1
    }
    this.updateEvents()
  },
  computed: {
    productsGroups () {
      console.log('i am here!!!')
      console.log(this.events_list.length)
      let result =  Array.from(Array(Math.ceil(this.events_list.length / this.maxPerRow)).keys())
      console.log(result)
      return result
    }
  }
}
</script>

<style scoped>

.calibri-font{
  font-family: Calibri;

}

</style>
