<template>
<!--  <div class="col-12 col-md">-->
<!--    <q-card style="max-width: 200px; height: 200px">-->
<!--      <q-item class="bg-grey-2">-->
<!--        <q-item-section avatar dir="ltr">-->
<!--          <q-avatar>-->
<!--            <img :src="this.Associations.image[0]">-->
<!--          </q-avatar>-->
<!--        </q-item-section>-->
<!--        <q-item-section class="text-h6"> {{ event.association_name }}</q-item-section>-->
<!--      </q-item>-->
<!--      <q-card-section class="bg-grey-2">-->
<!--        <div class="text-subtitle2">תאריך האירוע: {{ event.date }}</div>-->
<!--      </q-card-section>-->
<!--      <q-separator inset/>-->
<!--      <q-card-section >-->
<!--        {{ event.description }}-->
<!--      </q-card-section>-->
<!--    </q-card>-->
<!--  </div>-->

  <q-card class="my-card my-card-event shadow-4" bordered>
    <q-card-section horizontal>
      <q-card-section class="q-pt-xs">
<!--        <div class="text-overline">{{ event.association_name }}</div>-->
        <div class="text-h5 q-mt-sm q-mb-xs">{{ event.association_name }}</div>
        <div class="text-caption text-grey">
          {{event.description}}
        </div>
      </q-card-section>

      <q-card-section class="col-5 flex flex-center">
        <q-img
          class="rounded-borders"
          :src="this.Associations.image[0]"
        />
      </q-card-section>
    </q-card-section>

    <q-separator />

    <q-card-actions>
      <q-btn flat round icon="event" />
      <q-btn flat>
        {{ event.date }}
      </q-btn>
      <q-btn flat color="primary">

      </q-btn>
    </q-card-actions>
  </q-card>

</template>

<script>
import axios from 'axios'

async function getAssociationsData(url) {
  let Assoc
  const AssociationArray = []
  await axios
    .get(url)
    .then(response => {
      Assoc = response.data.Association
      console.log(Assoc)
      return Assoc
    }).catch(response => console.log('no Association'))
    .then((jsonData) => {
      AssociationArray.push(jsonData)
    })
  return {
    Assoc: AssociationArray[0]
  }
}

export default {
  name: 'Event',
  props: {
    event: Object
  },
  data() {
    return {
      Associations: []
    }
  },
  methods: {
    async updateAssociations() {
      console.log('updateAssociations')
      console.log('url')
      const url = this.$store.getters['ip/ip'] + '/association/get_association_by_email/' + this.event.association_email
      const {Assoc} = await getAssociationsData(url)
      console.log(Assoc)
      this.Associations = Assoc
      console.log(this.Associations)
    }
  },
  mounted() {
    console.log('mounted')
    this.updateAssociations()
  },
}
</script>

<style lang="sass" scoped>
.my-card-event
  width: 100%
  width: 200px
  height: 200px



</style>
