<template>
  <div>
<!--      <img :src="product.image[0]" style="max-width: 200px">-->
    <q-carousel v-if="product.image.length > 0"
      swipeable
      animated
      arrows
      v-model="slide"
      infinite
      control-color="primary"
    >
      <q-carousel-slide v-for="(p, index) in product.image" :key="index" :name="index" :img-src="p">
      </q-carousel-slide>
    </q-carousel>
    <q-img v-if="product.image.length == 0"
           class="q-img-prod rounded-borders"
           src="../assets/Pictures/no_image.png"
           spinner-color="white">

    </q-img>
      <q-list>
        <q-item clickable>
          <q-item-section avatar>
            <q-icon color="green" name="paid" />
          </q-item-section>

          <q-item-section>
            <q-item-label> כמה זה עולה? </q-item-label>
            <q-item-label caption>₪ {{product.price}} </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable>
          <q-item-section avatar>
            <q-icon color="red" name="description" />
          </q-item-section>

          <q-item-section>
            <q-item-label>מה אקבל?</q-item-label>
            <q-item-label caption>{{product.description}}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable>
          <q-item-section avatar>
            <q-icon color="amber" name="category" />
          </q-item-section>

          <q-item-section>
            <q-item-label>מה זה?</q-item-label>
            <q-item-label caption class="row-lg">
              <div>{{product.main_category}}</div>

              <span v-for="(p, index) in product.sub_category"
                    :key="index">
              <span class="col-10 col-md" v-if="index !== product.sub_category.length-1">{{p}}, </span>
              <span class="col-10 col-md" v-else>{{p}}</span>
            </span>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable>
          <q-item-section avatar>
            <q-icon color="blue" name="event" />
          </q-item-section>

          <q-item-section>
            <q-item-label>מתי פורסם?</q-item-label>
            <q-item-label caption> {{product.publish_at}}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
  </div>
</template>

<script>

export default {
  name: "FullProductDetails",
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      slide: 0
    }
  },
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 330px
  position: center
  padding: -0.5px
  margin: 1px auto
</style>

