<template>
  <div >
    <div class="text-h4" dir="rtl">{{this.title}}</div>
      <div class="q-pa-md row items-start q-gutter-md justify-center centers flex" align="center" v-for="(group, i) in productsGroups" :key="group">
        <div  v-for="(p, index) in productslist.slice(i * productsPerRow, (i+1) * productsPerRow)"
             :key="index">
          <ProductPreview :product="p"/>
        </div>
      </div>
    <div class="q-pa-xl flex centers justify-center text-h5" v-if="this.askDone">
      <div v-if="this.productslist.length == 0">
      לצערנו אין עדיין מוצרים
    </div>
    </div>
  </div>
</template>

<script>

import ProductPreview from '../components/ProductPreview'

export default {
  components: { ProductPreview },
  name: 'ListProducts',
  props: {
    requestURL: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      productslist: [],
      askDone: false,
      productsPerRow: 3,
      slide: 1,
      autoplay: true,
    }
  },
  methods: {
    async updateProducts () {
      console.log("updateProducts")
      this.askDone = false
      let pro
      const proArray = []
      console.log(this.requestURL)
      await this.$axios
        .get(this.requestURL)
        .then((response) => {
          if(response.status === 204)
          {
            pro = []
          }
          else {
            pro = response.data.Product
            this.data = response.data.Product
          }
          return pro
        }).catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
        .then((jsonData) => {
          this.productslist = []
          proArray.push(jsonData)
          pro = proArray[0]
          this.askDone = true
          this.productslist.push(...pro)
        })


    }
  },
  async mounted () {
    console.log("dialog mounted")
    console.log(this.requestURL)
    await this.updateProducts()
    console.log(this.productslist.length)

  },
  watch: {
    requestURL: async function () {
      await this.updateProducts()
    }
  },
  computed: {
    productsGroups () {
      return Array.from(Array(Math.ceil(this.productslist.length / this.productsPerRow)).keys())
    }
  }
}
</script>

<style lang="sass" scoped>


</style>
