<template>
<!--  <q-page class="bg-white window-height window-width row justify-center items-center">-->
  <q-page class="bg-white row justify-center items-center">
  <div class="column">
      <div class="row" dir="rtl">
<!--        <h3 class="text-h4 text-light-blue-10 q-my-md" >{{ this.loginas }}</h3>-->
      </div>
      <div class="row font-all" >
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form @submit.prevent="onLogin" class="q-gutter-md">
              <q-input square filled clearable id="email"
                       v-model="email"
                       type="text"
                       label="אימייל"
                       :rules="[requiredRule]"/>
              <q-input square filled clearable id="Password"
                       v-model="password"
                       type="password"
                       label="סיסמה"
                       :rules="[requiredRule]"/>
              <q-card-actions class="q-px-md">
                <q-btn nelevated color="light-blue-10" size="lg" type="submit" class="full-width my-font" label="התחברות" @click="showDefault"/>
              </q-card-actions>
            </q-form>
          </q-card-section>

          <q-card-section  v-if="this.loginas == 'התחברות'" class="text-center q-pa-none">
            <p class="text-grey-6" dir="rtl">התחברות עם חשבון Google
              <q-btn class="glossy" round color="light-blue-10" icon="ion-logo-google" @click="loginWithProvider"/>
            </p>
<!--            <p class="text-grey-6">Not registered?<router-link to="/register"> Created an Account </router-link></p>-->
            <p class="text-grey-6" dir="rtl">לא רשום?  <router-link to="/register"> תיצור חשבון לאתר </router-link></p>
          </q-card-section>

          <q-card-section  v-if="this.loginas == 'התחברות כעמותה'" class="text-center q-pa-none">
            <!--            <p class="text-grey-6">Not registered?<router-link to="/register"> Created an Account </router-link></p>-->
            <p class="text-grey-6" dir="rtl">לא רשום?  <router-link to="/assRequestForm"> בקשה להצטרפות - עמותה </router-link></p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>

import { api } from 'boot/axios'
import { Loading, LocalStorage, Cookies } from 'quasar'
import { firebaseAuth, googleProvider, handleFirebaseResult } from 'boot/firebase'
import { mapActions } from 'vuex'


export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  props: {
    url: {
      type: String,
      required: true
    },
    loginas: {
      type: String,
      required: true
    }
  },
  computed: {
    login_type() {
      if (this.url.includes('user')){
        return 'user'
      }
      else{
        return 'asc'
      }
    }
  },
  methods: {
    // validateState (param) {
    //   const { $dirty, $error } = this.$v.form[param]
    //   return $dirty ? !$error : null
    // },
    ...mapActions('user', ['updateEmail', 'get_cookies']),



    async Login () {
      try {
        const ip = this.url
        // eslint-disable-next-line no-unused-vars
        const response = await api.post(
          ip,
          {
            email: this.email,
            password: this.password
          }
        )
        console.log(response)
        let get_cookies_payload = {'email': this.email, 'url': this.url}
        const cookie_payload = await this.get_cookies(get_cookies_payload) // 1st Function
        this.updateEmail(cookie_payload) // 2nd Function
        console.log('AFTER UPDATE',cookie_payload['admin'],cookie_payload['user'],cookie_payload['asc'])



        this.$router.push({ path: '/' }).catch(() => {
          this.$router.go()
        })

      } catch (err) {
        console.log('Login Failed')
        console.log(err)
        console.log(err.response)
        await this.triggerNegative()
      }
    },
    onLogin () {
      // console.log("login method called");
      if (this.email !== '' && this.password !== '') {
        this.Login()
      }
    },
    showDefault () {
      this.$q.notify({
        spinner: true,
        message: 'Please wait...',
        timeout: 300
      })
    },
    requiredRule (val) {
      // simulating a delay
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(!!val || '* Required')
        }, 1000)
      })
    },
    loginWithProvider () {
      Loading.show()
      console.log(this.$q.platform)
      console.log("Platform")
      if(this.$q.platform.is.desktop) {
        firebaseAuth.signInWithRedirect(googleProvider).then(result => {
        // firebaseAuth.signInWithPopup(googleProvider).then(result => {
          console.log('firebase - response: ', result)
          handleFirebaseResult(this,result)
        }).catch((err) => {
          Loading.hide()
          console.log(err)
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Login Fail',
            icon: 'report_problem'
          })
        })
      }
      else if(this.$q.platform.is.mobile){
        firebaseAuth.signInWithRedirect(googleProvider).then(result => {
        // firebaseAuth.signInWithPopup(googleProvider).then(result => {
          console.log('firebase - response: ', result)
          handleFirebaseResult(this,result)
        }).catch((err) => {
          Loading.hide()
          console.log(err)
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Login Fail',
            icon: 'report_problem'
          })
        })
      }
    },
    triggerNegative () {
      // simulating a delay
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(this.$q.notify({
            type: 'negative',
            message: 'username or password incorrect.'
          }))
        }, 1100)
      })
    }
  }
}
</script>

<style>
.q-card {
  width: 360px;
}
.font-all{
  font-family: Calibri;
}
</style>
