<script>

import { Pie } from 'vue-chartjs'

export default {
  name: "DonationsUser",
    extends: Pie,
    data () {
      return {
        chartData: {
          labels: this.labels,
          datasets: [{
            borderWidth: 1,
            borderColor: [
              'rgb(39,129,157)',
              'rgb(40,203,27)',
              'rgb(255,230,0)',
              'rgb(218,24,73)',
              'rgb(119,41,157)',
              'rgb(27,45,203)',
              'rgb(225,99,33)',
              'rgb(12,84,4)'
            ],
            backgroundColor: [
              'rgb(39,129,157,0.5)',
              'rgb(40,203,27,0.5)',
              'rgb(255,230,0,0.5)',
              'rgb(218,24,73,0.5)',
              'rgb(119,41,157,0.5)',
              'rgb(27,45,203,0.5)',
              'rgb(225,99,33,0.5)',
              'rgb(12,84,4,0.5)'
            ],
            data: this.data
          }]
        },
        options: {
          legend: {
            display: true
          },
          responsive: true,
          maintainAspectRatio: false
        }
      }
    },

  props: {
    labels: {
      type: Array,
      default: null
    },
    data: {
      type: Array,
      default: null
    }
  },
    mounted () {
      console.log(this.data)
      console.log(this.labels)
      this.renderChart(this.chartData, this.options)
      console.log(this.chartData.labels)

    }
  }
</script>

<style scoped>

</style>

