<template>
<div>
  <q-card v-if="askDone" class="my-card" dir="rtl">
    <FullProductDetails  :product="product"/>
    <p/>
    <q-separator/>
    <p/>
    <q-btn v-if="!myProduct" outline flat color="red" label="דווח" icon="warning" :to="reportUrl"></q-btn>
    <q-btn v-if="!myProduct" v-show="hasCookie" v-close-popup flat color="primary" label="רכישה" :to="paymentUrl"/>
    <q-btn v-if="!myProduct" v-show="!hasCookie" flat color="primary" label="רכישה" @click="alert = true"/>
    <q-btn v-if="myProduct" v-show="hasCookie" flat color="primary" label="עריכה" :to="productUrl"/>

    <p/>
    <p/>

  </q-card>
  <q-dialog v-model="alert">
    <q-card style="width: 400px; max-width: 80vw;">
      <q-card-section>
        <div class="text-h6">Alert</div>
      </q-card-section>

      <q-card-section dir="rtl" class="q-pt-none">
        לצערנו רק משתמשים המחוברים לאתר יכולים לבצע רכישה
        <p/>
        <p class="text-grey-6" dir="rtl"> רשום?  <router-link to="/loginUser"> התחבר לאתר </router-link></p>

        <p class="text-grey-6" dir="rtl">לא רשום?  <router-link to="/register"> תיצור חשבון לאתר </router-link></p>

      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
import axios from 'axios'
import FullProductDetails from "components/FullProductDetails";
async function getProductData (url) {
  let pro
  const proArray = []
  console.log('getProductData')
  await axios
    .get(url)
    .then(response => {
      pro = response.data.Products
      return pro
    }).catch(response => console.log('no products'))
    .then((jsonData) => {
      proArray.push(jsonData)
    })
  return {
    pro: proArray[0]
  }
}
export default {
  name: 'ProductComponent',
  components: {FullProductDetails},
  props: {
    url: {
      type: String,
      required: true
    },
    myProduct: {
      type: Boolean,
      required: true
    },
    id: {
      type: String
    }
  },
  data () {
    return {
      product: Object,
      askDone: false,
      alert: false,
      productUrl: '/editProduct/' + this.id
    }
  },
  methods: {
    async updateProduct () {
      console.log(this.url)
      this.askDone = false
      const { pro } = await getProductData(this.url)
      console.log(pro)
      this.askDone = true
      this.product = pro
      this.product.publish_at = pro["publish_at"].substring(0,10)
      console.log('return from getProductData')
      console.log(this.product)
    },
  },
  computed: {
    hasCookie () {
      return this.$store.getters['user/user']
    },
    reportUrl () {
      return '/report/' + this.product.id
    },
    paymentUrl () {
      return '/payment/' + this.product.id
    }
  },
  mounted () {
    console.log('mounted')
    this.updateProduct()
  },
  watch: {
    url: function () {
      this.updateProduct()
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 330px
  position: center
  padding: -0.5px
  margin: 1px auto
</style>
