<template>
  <div dir="rtl">
<!--    <p>product id : {{product.id}}</p>-->
    <div>תיאור המוצר: {{product.description}}</div>
    <div>מחיר : {{product.price}} ש"ח </div>
    <div>קטגוריה ראשית :{{product.main_category}}</div>
    <div class="col-10 col-md" v-for="(p, index) in product.sub_category"
         :key="index">{{p}}</div>
    <div>המוצר התפרסם ב :{{product.publish_at}}</div>
    <div dir="auto" class="col-10 col-md" v-for="(p, index) in product.image"
         :key="index">
      <img :src="p" style="max-width: 200px">
    </div>
    <p/>
  <q-separator/>
  <p/>
  <q-btn outline flat color="primary" label="דווח" icon="warning" :to="reportUrl"></q-btn>
  <q-btn v-show="hasCookie" v-close-popup flat color="primary" label="רכישה" :to="paymentUrl"/>
  <q-btn v-show="!hasCookie" flat color="primary" label="רכישה" @click="alert = true"/>
    <q-dialog v-model="alert">
      <q-card style="width: 400px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Alert</div>
        </q-card-section>

        <q-card-section dir="rtl" class="q-pt-none">
          לצערנו רק משתמשים המחוברים לאתר יכולים לבצע רכישה
          <p/>
          <p class="text-grey-6" dir="rtl"> רשום?  <router-link to="/loginUser"> התחבר לאתר </router-link></p>

          <p class="text-grey-6" dir="rtl">לא רשום?  <router-link to="/register"> תיצור חשבון לאתר </router-link></p>

        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import axios from 'axios'
async function getProductData (url) {
  let pro
  const proArray = []
  console.log('getProductData')
  await axios
    .get(url)
    .then(response => {
      pro = response.data.Products
      return pro
    }).catch(response => console.log('no products'))
    .then((jsonData) => {
      proArray.push(jsonData)
    })
  return {
    pro: proArray[0]
  }
}
export default {
  name: 'Product',
  props: {
    url: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      product: [],
      askDone: false,
      alert: false

    }
  },
  methods: {
    async updateProduct () {
      console.log(this.url)
      this.askDone = false
      const { pro } = await getProductData(this.url)
      console.log(pro)
      this.askDone = true
      this.product = pro
      console.log('return from getProductData')
      console.log(this.product)
    }
  },
  computed: {
    hasCookie () {
      return this.$store.getters['user/user']
    },
    reportUrl () {
      return '/report/' + this.product.id
    },
    paymentUrl () {
      return '/payment/' + this.product.id
    }
  },
  mounted () {
    console.log('mounted')
    this.updateProduct()
  },
  watch: {
    url: function () {
      this.updateProduct()
    }
  }
}
</script>

<style scoped>
.contents-less {
  background: white;
  width: 85%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 0px;
}
</style>
