<template>
    <div class="q-pa-md items-center">
      <div class="row">
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('כלי נגינה')">
          <q-img
            src="../assets/Pictures/Categories/denise-jans-2U6ehkuWZio-unsplash.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          כלי נגינה
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('בריאות ויופי')">
          <q-img
            src="../assets/Pictures/Categories/pexels-emma-bauso-2253832.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          בריאות ויופי
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('אומנות')">
          <q-img
            src="../assets/Pictures/Categories/pexels-anna-tarazevich-6358798.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          אומנות
        </div>
      </div>
      <div class="q-pa-sm"/>
      <div class="row">
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('אלקטרוניקה')">
          <q-img
            src="../assets/Pictures/Categories/pexels-pixabay-356056.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          אלקטרוניקה
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('ספרים')">
          <q-img
            src="../assets/Pictures/Categories/pexels-aline-viana-prado-2465877.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          ספרים
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('אספנות')">
          <q-img
            src="../assets/Pictures/Categories/pexels-rachel-claire-4998006 (2).jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          אספנות
        </div>
        </div>
      <div class="q-pa-sm"/>
      <div class="row">
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('בעלי חיים')">
          <q-img
            src="../assets/Pictures/Categories/pexels-maksim-goncharenok-4422100.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          בעלי חיים
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('דת וטקסים')">
          <q-img
            src="../assets/Pictures/Categories/pexels-rodnae-productions-6115411.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          דת וטקסים
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('כלי עבודה')">
          <q-img
            src="../assets/Pictures/Categories/pexels-tima-miroshnichenko-6790074.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          כלי עבודה
        </div>
        </div>
      <div class="q-pa-sm"/>
      <div class="row">
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('אינסטלציה')">
          <q-img
            src="../assets/Pictures/Categories/pexels-christine-gretland-5869443.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          אינסטלציה
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('תינוקות ופעוטות')">
          <q-img
            src="../assets/Pictures/Categories/pexels-rodnae-productions-6849312.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          תינוקות ופעוטות
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('תיקים ומזוודות')">
          <q-img
            src="../assets/Pictures/Categories/pexels-sanddollar-634538.jpg"
            style="height: 225px; max-width: 425px"
          />
          <p/>
          תיקים ומזוודות
        </div>
        </div>
      <div class="q-pa-sm"/>
      <div class="row">
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('ריהוט לבית')">
          <q-img
            src="../assets/Pictures/Categories/pexels-vecislavas-popa-1643383.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          ריהוט לבית
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('צעצועים ומשחקים')">
          <q-img
            src="../assets/Pictures/Categories/pexels-skitterphoto-591652.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          צעצועים ומשחקים
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('ציוד ספורט')">
          <q-img
            src="../assets/Pictures/Categories/pexels-pixabay-209977.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          ציוד ספורט
        </div>
        </div>
      <div class="q-pa-sm"/>
      <div class="row">
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('ציוד משרדי')">
          <q-img
            src="../assets/Pictures/Categories/pexels-ivan-samkov-4240571.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          ציוד משרדי
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('אופטיקה')">
          <q-img
            src="../assets/Pictures/Categories/pexels-tara-winstead-6479569.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          אופטיקה
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('מזון ומשקאות')">
          <q-img
            src="../assets/Pictures/Categories/pexels-lisa-vhb-916925.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          מזון ומשקאות
        </div>
        </div>
      <div class="q-pa-sm"/>
      <div class="row">
          <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
               @click="routing('גינה')">
          <q-img
            src="../assets/Pictures/Categories/pexels-rene-asmussen-334978.jpg"
            style="max-height: 225px; max-width: 425px"
          />
            <p/>
            גינה
        </div>
        <div class="q-pa-sm"/>
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md" style="max-width: 425px"
             @click="routing('לבוש ואביזרים')">
          <q-img
            src="../assets/Pictures/Categories/pexels-sam-lion-5709661.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          לבוש ואביזרים
        </div>
        <div class="q-pa-sm" />
        <div dir="rtl" class="frame-cat shadow-7 text-center text-h5 col-12 col-md"
             style="max-width: 425px"
             @click="routing('אביזרי רכב')">
          <q-img
            src="../assets/Pictures/Categories/pexels-johnmark-smith-253096.jpg"
            style="max-height: 225px; max-width: 425px"
          />
          <p/>
          אביזרי רכב
        </div>
        </div>
      <div class="q-pa-sm"/>
    </div>
</template>

<script>
import store from "src/store";

export default {
  name: "Home",
  data() {
    return {
    }
  },
  methods: {
    routing(category){
      let search_request = this.$store.getters['ip/ip'] +
        "/product/search_products/" +
        category +
        "/" +
        null +
        "/" +
        0 +
        "/" +
        10000000 +
        "/" +
        null
      store().commit('search/updateCategoryURL', search_request)
      store().commit('search/updateCategory', category)
      this.$router.push({ path: 'ProductsListResult'})
      // this.$router.push({ path: '/' })
      // this.$router.push({ name: 'ProductsListResult', params: { requestURL: search_request }})
    }
  }
}
</script>

<style lang="scss">

.frame-cat{
  border-style: ridge;
}

.frame-cat:hover {
  color: #063A8F;
  text-shadow:0px 0px 1px #063A8F;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 0px 3px 0px rgb(190, 163, 31);
  -moz-box-shadow:    0px 0px 3px 0px rgb(43, 100, 172);
  box-shadow:         0px 0px 3px 0px rgba(43, 100, 172, 0.67);}


</style>
