<template>
  <div>
    <q-page class="bg-white row justify-center items-center">
      <div class="column">
        <div class="row" dir="rtl">
<!--          <h2 class="text-h4 text-light-blue-10 q-my-md">{{regTitle}}</h2>-->
        </div>
        <div class="row font-all" >
          <q-card square bordered class="q-pa-lg shadow-1 q-ma-lg">
            <q-card-section>
              <q-form @submit.prevent="onRegister" class="q-gutter-md">
                <q-input square filled clearable id="username"
                         v-model="username"
                         mask="SSSSSSSS"
                         :rules="[requiredRule, threeChars]"
                         type="text"
                         label="*שם משתמש" />
                <q-input square filled clearable id="first-name"
                         v-model="firstName"
                         type="text"
                         mask="SSSSSSSSSSSSSSSSSSSS"
                         :rules="[requiredRule]"
                         label="*שם פרטי" />
                <q-input square filled clearable id="last-name"
                         v-model="lastName"
                         type="text"
                         mask="SSSSSSSSSSSSSSSSSSSS"
                         :rules="[requiredRule]"
                         label="*שם משפחה" />
                <q-input square filled clearable id="password"
                         type="password"
                         v-model="password"
                         :rules="[requiredRule, sixChars]"
                         label="*סיסמה" />
                <q-input square filled clearable  id="confirmedPassword"
                         type="password"
                         v-model="confirmedPassword"
                         :rules="[requiredRule, sixChars, match]"
                         label="*אימות סיסמה" />
                <q-input square filled clearable  id="email"
                         type="email"
                         v-model="email"
                         :rules="[requiredRule]"
                         label="*אימייל" />
                <q-card-actions class="q-px-md">
                  <q-btn nelevated color="light-blue-10" size="lg" type="submit" class="full-width my-font" label="הרשמה"/>
                </q-card-actions>
              </q-form>
            </q-card-section>
            <q-card-section class="text-center q-pa-none" v-if="!regType" dir="rtl">
              <p class="text-grey-6">כבר יש לך חשבון? <router-link to="login">התחברות</router-link></p>
            </q-card-section>
          </q-card>
        </div>
        <div/>
      </div>
    </q-page>
  </div>
</template>

<script>

import axios from 'axios'
export default {
  name: 'RegisterComponent',
  props: {
    regType: {
      type: String,
      default: ''
    },
    regTitle: {
      type: String,
      default: 'Register'
    }
  },
  data () {
    return {
      username: '',
      firstName: '',
      lastName: '',
      password: '',
      confirmedPassword: '',
      email: '',
      errors: [],
      validated: false
    }
  },
  computed: {
    name () {
      return this.firstName + ' ' + this.lastName
    }
  },
  mounted () {
    console.log('mounted')
  },
  methods: {
    requiredRule (val) {
      // simulating a delay
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(!!val || '*נדרש')
        }, 1000)
      })
    },
    threeChars (val) {
      // simulating a delay
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(val.length > 2 || 'הקלד לפחות 3 תווים')
        }, 1000)
      })
    },
    sixChars (val) {
      // simulating a delay
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(val.length > 5 || 'הקלד לפחות 6 תווים')
        }, 1000)
      })
    },
    match (val) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(val === this.password || 'סיסמאות לא תואמות')
        }, 1000)
      })
    },
    async Register () {
      try {
        // eslint-disable-next-line camelcase
        const register_data = {
          username: this.username,
          password: this.password,
          name: this.name,
          email: this.email
        }
        console.log(register_data)
        const response = await axios.post(
          this.$store.getters['ip/ip'] + '/users/register',
          register_data
        )
        await this.$router.push('/loginUser')
        console.log('response:')
        console.log(response)
      } catch (err) {
        console.log(err)
        console.log(err.response)
      }
    },
    onRegister () {
      console.log('register method called')
      console.log('register method go')
      this.Register()
    }
  }
}
</script>
<style>
.q-card {
  width: 360px;
}
.font-all{
  font-family: Calibri;
}
</style>
