<template>
  <div>
    <h2>Set User As Admin</h2>
    <h5>Select User to make admin</h5>
<!--    <p v-for="(user, index) in allUsersArr" :key="index">{{user.email}}</p>-->
<!--    <p v-for="(admin, index) in allAdmins" :key="index">{{admin.email}}</p>-->
    <div class="fit row justify-center">
      <q-select
        filled
        class="q-mx-md"
        v-model="selectedUsers"
        multiple
        :options="userOptions"
        style="width: 250px"
      />
      <q-btn rounded outline @click="openTheDialog">Set as Admin</q-btn>
      <confirm-dialog
        iconName="person_add_alt"
        iconColor="primary"
        :show="openDialog"
        question="Are you sure?"
        :objectArray="selectedUsers"
        confirmLabel="Confirm"
        cancelLabel="Cancel"
        @cancel="openDialog = false"
        @confirm="setAdmin"
      />
    </div>
    <q-btn
      outline
      @click="$emit('back-admin')"
      size="md"
      class="q-mt-lg"
      rounded
      label="Back"/>
  </div>
</template>

<script>

export default {
  name: 'SetUserAsAdmin',
  data () {
    return {
      allUsersArr: [],
      allAdmins: [],
      selectedUsers: [],
      openDialog: false
    }
  },
  components: {
    ConfirmDialog: () => import('../components/ConfirmDialog')
  },
  computed: {
    userOptions () {
      const options = []
      this.allUsersArr.forEach((user) => {
        if (!this.allAdmins.includes(user)) {
          options.push(user)
        }
      })
      return options
    }
  },
  mounted () {
    this.allUsers()
  },
  methods: {
    openTheDialog() {
      if (this.selectedUsers.length > 0)
      {
        this.openDialog = true
      }
    },
    allUsers () {
      this.$api.get(this.$store.getters['ip/ip'] + '/admin/').then((response) => {
        console.log(response.data)
        const data = response.data
        this.allUsersArr = data['Users'].map(user => user.email)
        this.allAdmins = data['Admins'].map(user => user.email)
      })
        .catch((err) => {
          console.log(err)
        })
    },
    setAdmin () {
      this.openDialog = false
      const dictSet = {}
      this.selectedUsers.forEach((user) => {
        dictSet[user] = true
      })
      this.$api.post(this.$store.getters['ip/ip'] + '/admin/set_admin', dictSet)
        .then(resp => {
          console.log(resp)
          this.$router.go(0)
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
}
</script>
