<template>
      <q-list dir="rtl">
        <q-item >
          <q-item-section readonly="true">
            <q-list>
              <q-input
                 name="name"
                 v-model="username"
                 label="שם משתמש"
                 readonly
                 icon="paid"
              />
              <q-input
                name="first name"
                v-model="firstName"
                color="primary"
                label="שם פרטי"
                readonly
              />
              <q-input
                name="last name"
                v-model="lastName"
                color="primary"
                label="שם משפחה"
                readonly
              />
              <q-input
                name="email"
                v-model="email"
                color="primary"
                label="כתובת מייל"
                readonly
              />
            </q-list>

          </q-item-section>
        </q-item>



      </q-list>
</template>

<script>
export default {
  name: 'userDetailsReadOnly',
  props: {
    username: {
      type: String,
      required: true
    },
    firstName: {
      type: String,
      required: true
    },
    lastName: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card-user-details
  width: 100%
  max-width: 250px
.my-card
  width: 100%
  max-width: 330px
  position: center
  padding: -0.5px
  margin: 1px auto
  height: max-content
</style>
