<template>
  <div v-if="this.product != ''">
    <q-card class="my-card my-card-prod" dir="rtl">
      <q-carousel
        v-if="this.product.image.length > 0"
        swipeable
        animated
        arrows
        v-model="slide"
        infinite
        class="q-img-prod rounded-borders"
        control-color="primary"
      >
        <q-carousel-slide v-for="(p, index) in product.image" :key="index" :name="index" :img-src="p">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2"></div>
            <div class="text-subtitle1">{{ product.status }}</div>
          </div>
        </q-carousel-slide>
      </q-carousel>
      <q-img v-if="product.image.length == 0"
        class="q-img-prod rounded-borders"
        src="../assets/Pictures/no_image.png"
        spinner-color="white">
        <div class="absolute-bottom text-subtitle1 text-center">
          {{ product.status }}
        </div>

      </q-img>
      <div class="col-auto">
        <q-btn color="grey-7" round flat icon="more_vert">
          <q-menu cover auto-close>
            <q-list dir="rtl" color="primary">
              <q-item clickable>
                <router-link  style="text-decoration: none; color: inherit;" :to="productUrl">
                  <q-item-section >תצוגה מלאה</q-item-section>
                </router-link>

              </q-item>

              <q-item clickable>
                <router-link  style="text-decoration: none; color: inherit;" :to="productUrledit">
                  <q-item-section >עריכה</q-item-section>
                </router-link>

              </q-item>
              <q-item clickable>
                <q-item-section @click="changeStatus">שינוי סטטוס מוצר</q-item-section>
              </q-item>
              <q-item clickable>
                <q-btn flat round color="primary" icon="delete" @click="deleteProduct">
                  <q-tooltip>
                    <strong>מחיקת מוצר</strong>
                  </q-tooltip>
                </q-btn>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </div>
        <q-list>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="red" name="description" />
            </q-item-section>
            <q-item-section style="max-width: 300px">
              <q-item-label>על המוצר</q-item-label>
              <q-item-label caption>{{product.description}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="amber" name="category" />
            </q-item-section>
            <q-item-section>
              <q-item-label>קטגוריות</q-item-label>
              <q-item-label caption class="row-lg">
                <div>{{product.main_category}}</div>
                <span v-for="(p, index) in product.sub_category"
                      :key="index">
                <span class="col-10 col-md" v-if="index !== product.sub_category.length-1">{{p}}, </span>
                <span class="col-10 col-md" v-else>{{p}}</span>
              </span>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="blue" name="event" />
            </q-item-section>
            <q-item-section>
              <q-item-label>מתי פרסמתי?</q-item-label>
              <q-item-label caption> {{product.publish_at | formatDate}}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable>
              <q-item-section avatar>
                <q-icon color="green" name="paid" />
              </q-item-section>

              <q-item-section>
                <q-item-label> מחיר </q-item-label>
                <q-item-label caption>₪ {{product.price}} </q-item-label>
              </q-item-section>
            </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon color="gray" name="place" />
            </q-item-section>
            <q-item-section>
              <q-item-label caption> {{product.city}} </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      <q-separator/>
    </q-card>
  </div>
</template>

<script>
import axios from 'axios'
import {date} from 'quasar'

async function getProductData(url) {
  let pro
  const proArray = []
  console.log('getProductData')
  await axios
    .get(url)
    .then(response => {
      pro = response.data.Products
      return pro
    }).catch(response => console.log('no products'))
    .then((jsonData) => {
      proArray.push(jsonData)
    })
  return {
    pro: proArray[0]
  }
}

export default {
  name: 'UserProduct',
  props: {
    url: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      product: '',
      askDone: false,
      slide: 0
    }
  },
  methods: {
    async updateProduct() {
      console.log(this.url)
      this.askDone = false
      const {pro} = await getProductData(this.url)
      console.log(pro)
      this.askDone = true
      if (pro.status !== 'DELETED')
      {
        this.product = pro
      }
      console.log('return from getProductData')
      console.log(this.product)
    },
    async deleteProduct() {
      console.log('delete')
      axios.defaults.withCredentials = true
      await axios.delete(
        this.$store.getters['ip/ip'] + '/product/delete/' + this.product.id
      ).then(response => {
        console.log(response)
        this.$emit('updateProduct', this.product)
      }).catch(err => {
        console.log(err)
      })
    },
    async changeStatus() {
      try {
        if (this.product.status === "FOR_SALE") {
          await this.$axios.post(this.$store.getters['ip/ip'] + '/product/update-sold/', {
            p_id: String(this.product.id)
          })
          this.product.status = "SOLD"
        }else{
          await this.$axios.post(this.$store.getters['ip/ip'] + '/product/update-for-sale/', {
            p_id: String(this.product.id)
          })
          this.product.status = "FOR_SALE"

        }
      }catch (err) {
        console.log('Failed')
        console.log(err.response)
      }
    }
  },
  mounted() {
    console.log('mounted')
    this.updateProduct()
  },
  computed: {
    productUrl() {
      return '/myProduct/' + this.product.id
    },
    productUrledit(){
      return '/editProduct/' + this.product.id
    }
  },
  watch: {
    url: function () {
      this.updateProduct()
    }
  },
  filters: {
    formatDate(dateToFormat) {
      if (!dateToFormat) return ''
      return date.formatDate(dateToFormat, 'D - MMM - YYYY')
    }
  }
}

</script>

<style lang="sass" scoped>
.my-card-prod
  width: 300px
  position: center
  //padding: -0.5px
  margin: 1px auto
  height: max-content


.q-img-prod
    float: left
    width:  300px
    height: 300px
    object-fit: cover

.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)

</style>
