<template>
  <div>
    <div
      class="fit column justify-center items-center content-center"
      v-if="!chosenTask">
      <h1>Admin</h1>
      <q-btn rounded outline @click="chosenTask = registerTask">Register new Admin</q-btn>
      <q-btn class="q-mt-md" rounded outline @click="chosenTask = setAdminTask">Set user as Admin</q-btn>
      <q-btn class="q-mt-md" rounded outline @click="chosenTask = setDeleteTask">Delete User</q-btn>
    </div>
    <div v-else-if="chosenTask === registerTask" >
      <add-new-admin class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
    <div v-else-if="chosenTask === setAdminTask" >
      <set-user-admin class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
    <div v-else-if="chosenTask === setDeleteTask" >
      <delete-user class="fit column justify-center items-center content-center" @back-admin="chosenTask=''"/>
    </div>
<!--    <AddNewAdmin class="q-pl-xl"/>-->
  </div>
</template>

<script>
    export default {
        name: "AdminDashboard",
      components: {
        AddNewAdmin: () => import ("../components/AddNewAdmin"),
        SetUserAdmin: () => import("../components/SetUserAsAdmin"),
        DeleteUser: () => import("../components/DeleteUser")
      },
      data() {
          return {
            chosenTask: '',
            registerTask: 'reg',
            setAdminTask: 'set',
            setDeleteTask: 'del'
          }
      }
    }
</script>

<style scoped>

</style>
