<template>
  <div class="container">
    <Association :url="url"></Association>
  </div>
</template>

<script>
import Association from "@/components/Association";
import {shared_data as store} from '../localStore'

export default {
  name: "AssociationPage",
  components: {Association},
  data() {
    return {
      url: store.baseUrl + '/association/' + this.$route.params.username
    }
  }
}
</script>

<style scoped>

</style>

