<template>
  <div class="about">
    <h1>הכר את העמותות שלנו</h1>
    <div class="row contents-less" dir="rtl">
      <div class="col-12 col-md-10">
        <DialogAssociationsList :requestURL="assoc"/>
      </div>
    </div>
  </div>
</template>

<script>
import DialogAssociationsList from "@/components/DialogAssociationsList";
import {shared_data as store} from '../localStore'

  export default {
    name: 'Associations',
    components: {DialogAssociationsList},
    data (){
      return {
        assoc: store.baseUrl + '/association/',
      }
    },
    mounted() {
      console.log("Mounted")
    },
    methods: {
    }
  }
</script>
<style>

  h1{
    text-align: center;
  }
</style>
