<template>
  <div>
    <div class="q-pa-md">
      <q-carousel
        animated
        v-model="slide"
        navigation
        infinite
        :autoplay="autoplay"
        arrows
        transition-prev="slide-right"
        transition-next="slide-left"
        @mouseenter="autoplay = false"
        @mouseleave="autoplay = true"
        control-color="info"
        class="contents"
      >
        <q-carousel-slide :name="1" class="q-pa-none">
          <img src="../assets/Pictures/donate_2jpg.jpg" alt="mountains" class="fit" style="object-fit: cover;"/>
        </q-carousel-slide>
        <q-carousel-slide :name="2" class="q-pa-none">
          <img src="../assets/Pictures/donate_3.jpg" alt="mountains" class="fit" style="object-fit: cover;"/>
        </q-carousel-slide>
        <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg"/>
        <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg"/>
      </q-carousel>
    </div>
    <div>
      <div class="contents">
      <h3 dir="rtl">מי אנחנו</h3>
      <div class="pad shadow-2">
        <q-video class="shad"
                 :ratio="16/8"
                 src="https://www.youtube.com/embed/5XZQAQQxX3A"/>
      </div>

      </div>
      <div class="row contents-less" dir="rtl">
        <div class="col-12 col-md-4">
          <Events/>
        </div>
        <div class="col-12 col-md-8">
          <DialogProductsList :requestURL="random_product" title="מוצרים חדשים"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DialogProductsList from "@/components/DialogProductsList";
import Events from "@/components/Events";
import {shared_data as store} from '../localStore'

export default {
  components: {Events, DialogProductsList},
  data() {
    return {
      random_product: store.baseUrl + '/product/get_random_products/3',
      right: true,
      slide: 1,
      autoplay: true
    }
  }
}
</script>

<style>
.pad {
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

.shad {
  -moz-box-shadow: 0 0 25px #888;
  -webkit-box-shadow: 0 0 25px #888;
  box-shadow: 0 0 25px #888;
}
.contents {
  background: white;
  width: 75%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

.contents-less {
  background: white;
  width: 85%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 0px;
}
.img{
  width: auto !important; /*Keep the aspect ratio of the image*/
  height: 140px !important;
  margin: 0 auto 1em auto; /*Center the image*/
}



/*.pad-products {*/
/*  margin-right: 250px;*/
/*  margin-left: 350px;*/
/*}*/
</style>
