<template>
  <div>
    <Login :url="loginUser" :loginas="loginas"/>
  </div>
</template>

<script>
import Login from "@/components/Login";
export default {
  name: "LoginAssoc",
  components: {Login},
  data (){
    return {
      loginUser: 'https://localhost:8000/association/login',
      loginas: "התחברות כעמותות"
    }
  }
}
</script>

<style scoped>
h1{
  text-align: center;
}
</style>


