<template>
  <div class="q-pa-md column items-center ">
    <div class="row ">
      <div class="col self-center">
      <h1 >404</h1>
      </div>
    </div>
    <div class="row justify-center items-center">
      <div class="col">
      <h2>הדף שחיפשת לא קיים</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <q-btn to="/" class="shadow-15" style="font-size: 30px; background-color: #00ffb1;" exact>חזרה לעמוד הבית</q-btn>
      </div>
    </div>

  </div>
</template>
