<template>
  <div>
  <div class="q-pa-md" style="max-width: 300px">
    <div class="col-10 col-md" v-for="(p, index) in product.image"
         :key="index">
      <img :src="p" alt="product.title">
    </div>
    <p dir="rtl">הסכום לתשלום {{ product.price }} ש"ח</p>
    <div class="q-gutter-md">
      <q-input
        filled
        v-model="id"
        label="תעודת זהות"
        mask="#########"
        unmasked-value
        :rules="[myRule]"
      />
      <q-input
        filled
        v-model="card"
        label="כרטיס אשראי"
        mask="#### - #### - #### - ####"
        fill-mask="#"
        unmasked-value
        :rules="[myRule]"
      />
      <q-input
        filled
        v-model="cvv"
        label="Cvv"
        mask="###"
        unmasked-value
        :rules="[myRule]"
      />
    </div>
      <div class="q-gutter-md row">
        <q-select
          label="חודש"
          transition-show="flip-up"
          transition-hide="flip-down"
          filled
          v-model="month"
          :options="options"
          style="width: 250px"
          :rules="[myRule]"
        />
        <q-select
          label="שנה"
          transition-show="flip-up"
          transition-hide="flip-down"
          filled
          v-model="year"
          :options="optionsYear"
          style="width: 250px"
          :rules="[myRule]"
        />
        <q-select
          label="בחר עמותה"
          transition-show="flip-up"
          transition-hide="flip-down"
          filled
          v-model="association"
          :options="optionsAssociation"
          :option-label="(item)=>item.name"
          style="width: 250px"
          :rules="[myRule]"
        >
        </q-select>
        <div v-show="errors">
          <p> מלא את כל השדות</p>
        </div>
        <q-btn class="q-gutter-md"  @click.prevent="payment" style="width: 250px" color="primary" icon="shopping_cart" label="לרכישה " />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {Cookies} from "quasar";
import {shared_data as store} from '../localStore'

async function mockPayment() {
  let status = await axios
    .post(store.baseUrl + '/pay/')
  console.log(status)
  return status;
}
async function getProductData (url) {
  let pro
  const proArray = []
  await axios
    .get(url)
    .then(response => {
      pro = response.data.Products;
      return pro;
    }).catch(response=> console.log("no products"))
    .then((jsonData) => {
      proArray.push(jsonData)

    })
  return {
    pro: proArray[0]
  }
}
async function getAssociationsname () {
  let Assoc
  const AssocArray = []
  await axios
    .get(store.baseUrl + "/association/")
    .then(response => {
      Assoc = response.data.Association;
      return Assoc;
    }).catch(response=> console.log("no products"))
    .then((jsonData) => {
      AssocArray.push(jsonData)
    })
  return {
    Assoc: AssocArray[0]
  }
}
export default {
  name: "PaymentPage",
  data () {
    return {
      productId: this.$route.params.productId,
      id: null,
      cvv: null,
      card: null,
      month: null,
      options:["01","02","03","04","05","06","07","08","09","10","11","12"],
      year: null,
      association: null,
      optionsYear: ["2021","2022","2023","2024","2025","2026","2027","2028"],
      optionsAssociation: [],
      errors:null,
      product: null
    }
  },
  methods:{
    async payment(){
      if(!this.id || !this.cvv || !this.card || !this.year || !this.month || !this.association){
        this.errors = [];
        this.errors.push("At Least One field is empty")
      }
      else{
        this.errors = null;
        const response = await mockPayment();
        console.log(response)
        if(response.status === 202){
          console.log("202 OK")
          const order = await this.createOrder();
        }
      }
    },
    myRule (val) {
      if (val === null) {
        return '* Required\n'
      }
    },
    async createOrder(){
      console.log("this.$q.cookies.get(\"diaCookie\")")
      console.log(Cookies.get("diaCookie"))
      console.log(this.product)
      let params = {
        product_id: this.product.id,
        date: "2019-06-01 12:22",
        buyer_email: Cookies.get("diaCookie"),
        seller_email: this.product.seller_email,
        association_username: this.association.username
      }
      console.log(params)
      let status = await axios
        .post(store.baseUrl + '/orders/create_order', params)
      console.log(status)
      return status;
    },
    async getAllAssociations(){
      const {Assoc} = await getAssociationsname();
      console.log(Assoc);
      let i = 0;
      let len = Assoc.length;
      while(i < len) {
        this.optionsAssociation.push({name: Assoc[i].name,username :Assoc[i].username})
        i++
      }
    },
    async getProduct(url){
      console.log("getProduct");
      const {pro} = await getProductData(url);
      console.log(pro);
      this.product = pro;
    },
  },
  mounted() {
    console.log(this.productId);
    this.getAllAssociations();
    let url = store.baseUrl + '/product/' + this.productId;
    console.log(url);
    this.getProduct(url);
  },
}
</script>

<style scoped>
div{
  margin: auto;
}p{
  margin: auto;
}
</style>
