<template>
  <div class="container">
    <product :url="url"></product>
  </div>
</template>

<script>
import Product from "@/components/Product";
import {shared_data as store} from '../localStore'

export default {
  name: "ProductPage",
  components: {Product},
  data() {
    return {
      url: store.baseUrl + '/product/' + this.$route.params.productId
    }
  }
}
</script>

<style scoped>

</style>
