<template>
  <register reg-title="Register"/>
</template>

<script>
  export default {
    name: "Register",
    components: {
      register: () => import('../components/RegisterComponent')
    }
  }
</script>

<style scoped>

</style>
