<template>
  <div>
    <h3 dir="rtl" class="container-form">חיפוש</h3>

    <div class="container-form font-form-product q-gutter-md">
      <q-form @submit.prevent="onSearch">
        <q-select
          outlined
          v-model="mainCategory"
          use-input
          input-debounce="0"
          @filter="filterCat"
          behavior="menu"
          label="קטגוריה ראשית"
          stack-label
          :options="mainCategoryOptions"
          :rules="[myRule]"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey"> No results </q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-select
          outlined
          v-model="subCategory"
          multiple
          :options="subCategoryOptions"
          label="קטגוריות משניות"
          stack-label
        />
        <!-- <q-select
          v-else
          outlined
          v-model="subCategory"
          multiple
          :options="subCategoryOptions"
          label="קטגוריות משניות"
          stack-label
          :rules="[myRule]"
        /> -->

        <q-badge dir="rtl" color="secondary">
          מחיר: {{ standard.min }} עד {{ standard.max }} ש"ח
        </q-badge>

        <q-range v-model="standard" :min="0" :max="1000" />

        <q-select
          outlined
          v-model="settlement"
          use-input
          input-debounce="0"
          @filter="filterFn"
          behavior="menu"
          :options="options"
          label="עיר"
          stack-label
        >
          <template v-slot:prepend>
            <q-icon name="place" />
          </template>
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey"> No results </q-item-section>
            </q-item>
          </template>
        </q-select>
        <p></p>
        <q-btn
          dir="rtl"
          outline
          rounded
          color="primary"
          type="submit"
          label="חפש"
        />

        <q-btn
          dir="rtl"
          outline
          rounded
          color="primary"
          label="false"
          @click="searched = false"
        />
      </q-form>
    </div>
    <div class="col-12 col-md-8" v-if="this.searched">
      <DialogProductsList
        title="תוצאות החיפוש"
        :requestURL="search_request"
        :search_params="search_params"
      />
    </div>
  </div>
</template>

<script>
import DialogProductsList from "@/components/DialogProductsList";
import mainCategory from "@/assets/files/mainCategory";
import subCategories from "@/assets/files/subCategories";
import settlements from "@/assets/files/settlements";
import {shared_data as store} from '../localStore'


export default {
  name: "SearchPage",
  components: { DialogProductsList },
  data() {
    return {
      searched: false,
      search_request: "",
      search_params: null,
      settlement: null,
      settlements: [],
      options: this.settlements,
      mainCategory: null,
      subCategory: null,
      mainCategoryOptions: this.mainCategory,
      mainCategoryList: [],
      subCategoryOptions: [],
      subCategoryAllOptions: [],
      standard: {
        min: 100,
        max: 500,
      },
    };
  },
  mounted() {
    this.settlements = [];
    this.settlements.push(...settlements);
    this.searched = false;
    this.products = [];
    this.mainCategoryList = [];
    this.subCategoryAllOptions = [];
    this.mainCategoryList.push(...mainCategory);
    this.subCategoryAllOptions.push(...subCategories);
  },
  watch: {
    mainCategory: function (val) {
      try {
        this.subCategory = null;
        this.subCategoryOptions = this.subCategoryAllOptions[0][
          this.mainCategory
        ];
      } catch (err) {
        console.log(err);
      }
    },
  },
  methods: {
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.settlements;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.options = settlements.filter((v) => v.indexOf(needle) > -1);
      });
    },
    filterCat(val, update) {
      if (val === "") {
        update(() => {
          this.mainCategoryOptions = this.mainCategoryList;
        });
        return;
      }
      update(() => {
        const needle = val;
        this.mainCategoryOptions = this.mainCategoryList.filter(
          (v) => v.indexOf(needle) > -1
        );
      });
    },
    myRule(val) {
      if (val === null) {
        return "You must make a selection!";
      }
    },
    async onSearch() {
      this.searched = false;
      this.searched = true;
      this.search_request =
        store.baseUrl +
        "/product/search_products/" +
        this.mainCategory +
        "/" +
        this.subCategory +
        "/" +
        this.standard.min +
        "/" +
        this.standard.max +
        "/" +
        this.settlement;

      // this.search_request = "http://localhost:8000/product/search_products/";
      // const params = {};
      // if (this.mainCategory != null) {

      //   params.mainCategory = this.mainCategory;
      // }
      // if (this.subCategory != null) {
      //   params.subCategory = this.subCategory;
      // }
      // if (this.settlement != null) {
      //   params.settlement = this.settlement;
      // }
      // params["this.standard.min"] = this.standard.min;
      // params["this.standard.max"] = this.standard.max;
      // this.search_params = params;
    },
  },
};
</script>

<style>
.container-form {
  background: white;
  width: 30%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

.font-form-product {
  font-family: Calibri;
}
</style>
