<template>
<div >
  <h3 dir="rtl" class="container-form">העלאת מוצר
  </h3>
  <ProductUploadForm/>
</div>
</template>

<script>
import ProductUploadForm from "@/components/ProductUploadForm";
export default {
  name: "UploadProductPage",
  components: {ProductUploadForm}
}
</script>

<style>
.container-form {
  background: white;
  width: 60%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

</style>
