
<template>
  <div>
    <div class=" container-less q-pa-md row items-start q-gutter-md">
      <q-card class="  my-card my-font-cal" flat bordered>
        <q-img src="https://cdn.quasar.dev/img/parallax2.jpg"></q-img>

        <q-card-section>
          <div class="text-overline text-orange-9">:פרטי משתמש</div>
          <q-input
            name="name"
            v-model="username"
            color="primary"
            label="user name"
            clearable
          />
          <q-input
            name="first name"
            v-model="firstName"
            color="primary"
            label="first name"
            clearable
          />
          <q-input
            name="last name"
            v-model="lastName"
            color="primary"
            label="lastName"
            clearable
          />
          <q-input
            name="email"
            v-model="email"
            color="primary"
            label="email"
            clearable
          />
          <q-btn> שמור </q-btn>
        </q-card-section>
      </q-card>
    </div>
    <div class=" q-pa-md items-start q-gutter-md">
      <div dir="rtl">
<!--      NOT RELEVANT DELETE ALL BELOW-->
        <div  class="text-center">
          <p >Show All My Products</p>
          <p v-for="(id, index) in products_for_sale" :key="index">{{ id }}</p>
        </div>
<!--      DELETE ALL ABOVE-->
        <div>
          <q-carousel
            animated
            v-model="slide"
            swipeable
            infinite
            :autoplay="2000"
            arrows
            navigation
            transition-prev="slide-right"
            transition-next="slide-left"
            @mouseenter="autoplay = false"
            @mouseleave="autoplay = true"
          >
            <q-carousel-slide :name="index" v-for="(id, index) in products_for_sale" :key="index">
              <div>
                <UserProduct :url="baseurl+'/'+id" @deletep="deleteProduct"/>
              </div>
              <q-icon
                class="absolute all-pointer-events clearBtn"
                size="32px"
                name="clear"
                color="red"
                style="top: 13px;right: 13px"
                @click.prevent="deleteProduct(id)"
              >
                <q-tooltip style="z-index: 100">
                  <strong>Delete Product</strong>
                </q-tooltip>
              </q-icon>
            </q-carousel-slide>
          </q-carousel>
        </div>
      </div>
    </div>
    <!-- <h4 class="container-less" dir="rtl">פרטי משתמש</h4>
    <div class="container my-font-cal">
      <q-input v-model="username" hint="username" readonly />
      <q-input v-model="firstName" hint="first name" readonly />
      <q-input v-model="lastName" hint="last name" readonly />
      <q-input v-model="email" hint="email" readonly />
    </div> -->
    <UserAssociationsDonations
      class="container-less"
    ></UserAssociationsDonations>
    <PieChart></PieChart>
  </div>
</template>

<script>
import UserAssociationsDonations from "@/components/UserAssociationsDonations";
import PieChart from "@/components/PieChart";
import axios from "axios";
import {shared_data as store} from '../localStore'

import UserProduct from "../components/UserProduct";

export default {
  name: "UserDetails",

  components: {UserProduct, UserAssociationsDonations, PieChart },

  data() {
    return {
      username: "",
      firstName: "",
      lastName: "",
      email: "",
      totalDonation: "",
      products_for_sale: [],
      slide: 1,
      //baseurl: 'http://localhost:8000/product'
    };
  },
  mounted() {
    this.updateUserDetails();
  },
  methods: {
    async updateUserDetails() {
      try {
        this.username = JSON.parse(this.$root.storeShare.username);
        const response = await this.axios.get(
          store.baseUrl + "/users/" + this.username
        );
        const userData = response.data.User;
        let name = userData.name.split(" ");
        this.firstName = name[0];
        this.lastName = name[1];
        this.email = userData.email;
        this.totalDonation = userData.total_donation;
        this.products_for_sale = userData.products_for_sale;
      } catch (error) {
        console.log(error);
      }
    },
    deleteProduct(productId){
      console.log('delete ' + productId)
      const indexOfProduct = this.products_for_sale.indexOf(productId)
      if(indexOfProduct > -1){
        this.products_for_sale.splice(indexOfProduct, 1)
        this.axios.delete(
          store.baseUrl + "/product/delete/" + productId
        ).then(response => {
          console.log(response)
        }).catch(err => {
          console.log(err)
        });

      }
    },
  },
};
</script>

<style>
.container {
  background: white;
  width: 40%;
  padding: 40px;
  margin: 1px auto;
  border-radius: 10px;
}

.container-less {
  background: white;
  width: 70%;
  padding: 40px;
  margin: 1px auto;
}

.my-font-cal {
  font-family: Calibri;
}

.my-card {
  width: 100%;
  max-width: 350px;
}
</style>

